<div class="top-feature owl-carousel owl-theme">
  <div class="item">
    <div class="single-feature">
      <div class="icon"><img
          src="/uploads/icon-01.png"
          class="img-responsive"
          alt=""
        /></div>
      <h4><a href="#">Full Furnished</a></h4>
      <p>Introducing a stunningly furnished building for sale! This magnifient
        property boasts a modern and sleek design with clean lines and an open
        flppr plan that creates an airy and spacious feel.
      </p>
    </div>
  </div>
  <div class="item">
    <div class="single-feature">
      <div class="icon"><img
          src="/uploads/icon-02.png"
          class="img-responsive"
          alt=""
        /></div>
      <h4><a href="#">Living Inside a Nature</a></h4>
      <p>One of the greatest advantage of living inside nature is the peace and
        quietness it offers.</p>
    </div>
  </div>
  <div class="item">
    <div class="single-feature">
      <div class="icon"><img
          src="/uploads/icon-03.png"
          class="img-responsive"
          alt=""
        /></div>
      <h4><a href="#">Luxurious Fittings</a></h4>
      <p>Everything is fitted to give you the comfort you desire and provide you
        with peace.
      </p>
    </div>
  </div>
  <div class="item">
    <div class="single-feature">
      <div class="icon"><img
          src="/uploads/icon-04.png"
          class="img-responsive"
          alt=""
        /></div>
      <h4><a href="#">Non Stop Security</a></h4>
      <p>Non stop security is an essential part of ensuring the safety and
        security of the individuals, business and communities, and also it been
        done 24/7.
      </p>
    </div>
  </div>
</div>