<div class="copyrights">
  <div class="container">
    <div class="footer-distributed">
      <div class="footer-left">
        <p class="footer-company-name">All Rights Reserved. &copy; 2023
          <a href="https://alexander-ukwueze.netlify.app">LeXiZ Technology</a>
      </div>

      <div class="footer-right">
        <form method="get" action="#">
          <input placeholder="Subscribe our newsletter.." name="search" />
          <i class="fa fa-envelope-o"></i>
        </form>
      </div>
    </div>
  </div>
</div>