<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="widget clearfix">
          <div class="widget-title">
            <img
              src="/images/logo.png"
              alt="school_logo"
              height="50px"
              width="50px"
            />
          </div>
          <p>
           Welcome to our school portal! Our online platform provides students, parents, and teachers with easy access to important information, resources, and tools to support learning and academic success.</p>
          <p>Our goal is to create a virtual community where students can thrive academically and socially. Join us today and experience the benefits of our school portal!</p>
        </div><!-- end clearfix -->
      </div><!-- end col -->

      <div class="col-md-3 col-sm-3 col-xs-12">
        <div class="widget clearfix">
          <div class="widget-title">
            <h3>Info Link</h3>
          </div>

          <ul class="twitter-widget footer-links">
            <li><a href="/"> Home </a></li>
            <li><a href="/about-us"> About Us </a></li>
            <li><a href="/services"> Services</a></li>
            <li><a href="/gallery"> Gallery</a></li>
            <li><a href="/properties"> Properties</a></li>
            <li><a href="/contact-us"> Contact</a></li>
            <li><a href="/terms-and-conditions"> Terms&Conditions</a></li>
            <li><a href="/accounts/create-account">Register</a></li>
            <li><a href="/accounts/login">Login</a></li>
          </ul><!-- end links -->
        </div><!-- end clearfix -->
      </div><!-- end col -->

      <div class="col-md-3 col-sm-3 col-xs-12">
        <div class="widget clearfix">
          <div class="widget-title">
            <h3>Contact Details</h3>
          </div>

          <ul class="footer-links">
            <li><a
                href="mailto:lextechspec@gmail.com"
              >lextechspec@gmail.com</a></li>
            <li><a
                href="mailto:lexizuchenna@gmail.com"
              >lexizuchenna@gmail.com</a></li>Hilltop, University of Nigeria, Nsukka, Enugu State, Nigeria</li>
            <li><a href="tel:+2347043696226">+234 (0) 704 369 6226</a></li>
          </ul><!-- end links -->
        </div><!-- end clearfix -->
      </div><!-- end col -->

      <div class="col-md-2 col-sm-2 col-xs-12">
        <div class="widget clearfix">
          <div class="widget-title">
            <h3>Social</h3>
          </div>
          <ul class="footer-links">
            <li><a href="https://facebook.com/lexizuchenna"><i class="fa fa-facebook"></i> Facebook</a></li>
            <li><a href="https://github.com/lexizuchenna"><i class="fa fa-github"></i> Github</a></li>
            <li><a href="https://twitter.com/lexiz_uchenna_"><i class="fa fa-twitter"></i> Twitter</a></li>
            <li><a href="#"><i class="fa fa-dribbble"></i> Dribbble</a></li>
            <li><a href="#"><i class="fa fa-pinterest"></i> Pinterest</a></li>
          </ul><!-- end links -->
        </div><!-- end clearfix -->
      </div><!-- end col -->

    </div><!-- end row -->
  </div><!-- end container -->
</footer>