<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>School Portal</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/images/favicon.ico" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Vendor CSS Files -->
  <link href="/css/errors/bootstrap.min.css" rel="stylesheet">
  
  
  <!-- Template Main CSS File -->
  <link href="/css/errors/style.css" rel="stylesheet">

  <link rel="stylesheet" href="/css/index.css">
</head>

<body>

{{{body}}}
</body>
</html>

