<html lang="en">
  <head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- Mobile Metas -->
    <meta
      name="viewport"
      content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />

    <!-- Site Metas -->
    <title>School Portal</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <!-- Site Icons -->
    <link
      rel="shortcut icon"
      href="/images/favicon.ico"
      type="image/x-icon"
    />
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png" />

    {{! Font Awesome }}
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/public_css/bootstrap.min.css" />
    <!-- Site CSS -->
    <link rel="stylesheet" href="/css/public_css/style.css" />
    <!-- Colors CSS -->
    <link rel="stylesheet" href="/css/public_css/colors.css" />
    <!-- ALL VERSION CSS -->
    <link rel="stylesheet" href="/css/public_css/versions.css" />
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="/css/public_css/responsive.css" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/public_css/custom.css" />

    <!-- Modernizer for Portfolio -->
    <script src="/js/public_js/modernizer.js"></script>
  </head>
  <body class="realestate_version">
    {{{body}}}
    <!-- ALL JS FILES -->
    <script src="/js/public_js/all.js"></script>
    <!-- ALL PLUGINS -->
    <script src="/js/public_js/custom.js"></script>
    <script src="/js/public_js/portfolio.js"></script>
    <script src="/js/public_js/hoverdir.js"></script>
    <script
      src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"
    ></script>
    <!-- MAP & CONTACT -->
    <script src="/js/public_js/map.js"></script>
  </body>
</html>