<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Result Portal</title>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
    <style data-emotion="css-global" data-s=""></style><style
      data-emotion="css-global"
      data-s=""
    ></style><style
      data-emotion="css imqhw1"
      data-s=""
    >.css-imqhw1{color:#080f1a;}</style><style
      data-emotion="css 19tqxud"
      data-s=""
    >.css-19tqxud{position:-webkit-sticky;position:sticky;top:0;left:0;right:0;z-index:99999;}</style><style
      data-emotion="css 3njk8v"
      data-s=""
    >.css-3njk8v{height:70px;background:#ffffff;padding:0 16px;margin:0
      auto;overflow-y:hidden;-webkit-transform:unset;-moz-transform:unset;-ms-transform:unset;transform:unset;position:relative;width:100%;display:grid;grid-template-columns:auto
      1fr auto;grid-template-rows:70px min-content min-content;gap:0
      0;grid-template-areas:'logo empty search aside' 'nav nav nav nav' 'buttons
      buttons buttons buttons';}.css-3njk8v
      aside{position:-webkit-sticky;position:sticky;top:0;grid-area:aside;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;background-color:#ffffff;}.css-3njk8v
      aside a{display:none;}@media (min-width: 600px) and (max-width:
      calc(1200px - 1px)){.css-3njk8v aside
      a{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;margin-right:32px;}}.css-3njk8v
      aside a+a{margin-top:12px;}@media (min-width: 600px) and (max-width:
      calc(1200px - 1px)){.css-3njk8v aside a+a{display:none;}}@media
      (min-width:
      600px){.css-3njk8v{padding-left:40px;padding-right:40px;grid-template-rows:94px
      min-content min-content;height:94px;}}@media (min-width:
      1200px){.css-3njk8v{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;overflow-y:visible;}.css-3njk8v
      >*{-webkit-flex-basis:100%;-ms-flex-preferred-size:100%;flex-basis:100%;}.css-3njk8v
      aside{position:unset;-webkit-flex-basis:0;-ms-flex-preferred-size:0;flex-basis:0;}}</style><style
      data-emotion="css v9b62r"
      data-s=""
    >.css-v9b62r{position:-webkit-sticky;position:sticky;top:0;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;grid-column-start:logo;grid-column-end:empty;background-color:#ffffff;z-index:2;}@media
      (min-width: 1200px){.css-v9b62r{z-index:unset;position:unset;top:unset;}}</style><style
      data-emotion="css hofdnf"
      data-s=""
    >.css-hofdnf{grid-area:logo;display:-webkit-inline-box;display:-webkit-inline-flex;display:-ms-inline-flexbox;display:inline-flex;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;cursor:pointer;}</style><style
      data-emotion="css 1u0nnkl"
      data-s=""
    >.css-1u0nnkl{width:100%;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;grid-area:nav;margin-top:25px;padding-bottom:200px;}@media
      (min-width:
      1200px){.css-1u0nnkl{-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;margin-top:unset;overflow:unset;padding-bottom:unset;}}</style><style
      data-emotion="css 1orv87p"
      data-s=""
    >.css-1orv87p{position:relative;width:100%;padding:10px
      0;margin-bottom:4px;overflow:hidden;}@media (min-width:
      1200px){.css-1orv87p{position:unset;width:unset;padding:unset;margin-bottom:0;}}</style><style
      data-emotion="css 13wtsbs"
      data-s=""
    >.css-13wtsbs{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;padding:0;cursor:default;}@media
      (min-width: 1200px){.css-13wtsbs{padding:10px 20px;}}.css-13wtsbs
      a,.css-13wtsbs
      span{font-size:18px;line-height:23px;letter-spacing:-0.01em;color:#080f1a;width:100%;}.css-13wtsbs
      a{-webkit-text-decoration:none;text-decoration:none;}.css-13wtsbs
      a:hover{-webkit-text-decoration:underline;text-decoration:underline;}</style><style
      data-emotion="css 61hfhz"
      data-s=""
    >.css-61hfhz{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-webkit-justify-content:space-between;justify-content:space-between;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;width:100%;}.css-61hfhz
      span{-webkit-transition:font-weight 0.1s
      ease-in-out;transition:font-weight 0.1s
      ease-in-out;font-weight:normal;}@media (min-width:
      1200px){.css-61hfhz{width:unset;}.css-61hfhz
      span{font-weight:normal;}.css-61hfhz img{margin-left:5px;}}.css-61hfhz
      img{-webkit-transition:-webkit-transform ease-in 0.2s;transition:transform
      ease-in 0.2s;}</style><style
      data-emotion="css i4jre2 animation-1xf9aq"
      data-s=""
    >.css-i4jre2{display:none;}@media (min-width:
      1200px){.css-i4jre2{display:block;position:absolute;content:"
      ";height:0;width:0;z-index:1;left:0;-webkit-filter:drop-shadow(0 -4px 5px
      rgba(0, 27, 71, 0.1));filter:drop-shadow(0 -4px 5px rgba(0, 27, 71,
      0.1));-webkit-transform:translate(calc(-50% - 10px),
      0);-moz-transform:translate(calc(-50% - 10px),
      0);-ms-transform:translate(calc(-50% - 10px),
      0);transform:translate(calc(-50% - 10px),
      0);pointer-events:none;border:10px solid
      transparent;border-top-width:0;border-bottom-color:#ffffff;-webkit-animation-fill-mode:both;animation-fill-mode:both;-webkit-animation-duration:0.3s;animation-duration:0.3s;-webkit-animation-name:animation-1xf9aq;animation-name:animation-1xf9aq;}}@-webkit-keyframes
      animation-1xf9aq{from{opacity:1;bottom:13px;}to{opacity:0;bottom:0;}}@keyframes
      animation-1xf9aq{from{opacity:1;bottom:13px;}to{opacity:0;bottom:0;}}</style><style
      data-emotion="css 1rsw5qc"
      data-s=""
    >.css-1rsw5qc{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;height:0;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;width:100%;background-color:#ffffff;padding-left:8px;visibility:hidden;opacity:0;-webkit-animation-fill-mode:both;animation-fill-mode:both;-webkit-animation-duration:0.4s;animation-duration:0.4s;}@media
      (min-width:
      1200px){.css-1rsw5qc{height:-webkit-max-content;height:-moz-max-content;height:max-content;width:-webkit-max-content;width:-moz-max-content;width:max-content;position:absolute;top:80px;left:50%;right:50%;-webkit-filter:drop-shadow(0px
      8px 20px rgba(0, 27, 71, 0.24));filter:drop-shadow(0px 8px 20px rgba(0,
      27, 71, 0.24));border-radius:16px;padding:36px 32px 24px
      32px;margin-top:unset;-webkit-animation-duration:0.3s;animation-duration:0.3s;-webkit-transform:translateX(-50%);-moz-transform:translateX(-50%);-ms-transform:translateX(-50%);transform:translateX(-50%);}.css-1rsw5qc:after{height:20px;width:100%;left:0;top:-16px;position:absolute;content:"
      ";}}</style><style
      data-emotion="css ifqhl2"
      data-s=""
    >.css-ifqhl2{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;}.css-ifqhl2
      >figure{margin-bottom:24px;}.css-ifqhl2
      >figure:last-child{margin-bottom:0;}@media (min-width:
      1200px){.css-ifqhl2{-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;}.css-ifqhl2
      >figure{margin-bottom:0;margin-right:24px;}.css-ifqhl2
      >figure:last-child{margin-bottom:0;margin-right:0;}}</style><style
      data-emotion="css 1ok8z1g"
      data-s=""
    >@media (min-width:
      1200px){.css-1ok8z1g{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;}}</style><style
      data-emotion="css 188fkt6"
      data-s=""
    >.css-188fkt6{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:justify;-webkit-justify-content:space-between;justify-content:space-between;margin:0
      0 16px 8px;}@media (min-width: 1200px){.css-188fkt6{margin:0 0 18px 8px;}}</style><style
      data-emotion="css kkzpvi"
      data-s=""
    >.css-kkzpvi{text-transform:uppercase;color:#647491;font-weight:600;font-size:11px;line-height:14px;letter-spacing:-0.01em;}@media
      (min-width:
      1200px){.css-kkzpvi{font-weight:500;color:#8796AF;font-size:14px;line-height:18px;letter-spacing:-0.01em;}}</style><style
      data-emotion="css 1cpgrh0"
      data-s=""
    >.css-1cpgrh0{color:#080f1a;-webkit-class-name:css-kkzpvi
      e79eelv3;class-name:css-kkzpvi
      e79eelv3;font-weight:400;white-space:pre-line;font-size:14px;line-height:18px;letter-spacing:-0.01em;margin:0;font-weight:400;text-transform:uppercase;color:#647491;font-weight:600;font-size:11px;line-height:14px;letter-spacing:-0.01em;}@media
      (min-width:
      1200px){.css-1cpgrh0{font-weight:500;color:#8796AF;font-size:14px;line-height:18px;letter-spacing:-0.01em;}}</style><style
      data-emotion="css vbnn2q"
      data-s=""
    >.css-vbnn2q{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;margin-bottom:0;-webkit-padding-start:0;padding-inline-start:0;margin-top:0;}@media
      (min-width: 1200px){.css-vbnn2q{margin-top:0;}}</style><style
      data-emotion="css 1fj6dwz"
      data-s=""
    >.css-1fj6dwz{max-width:100%;list-style-type:none;margin-bottom:8px;}.css-1fj6dwz:last-of-type{margin-bottom:0;}@media
      (min-width:
      1200px){.css-1fj6dwz{max-width:365px;position:relative;top:8px;opacity:0;-webkit-transition:all
      0.25s ease-in-out;transition:all 0.25s ease-in-out;}}</style><style
      data-emotion="css 78enoq"
      data-s=""
    >.css-78enoq{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;width:100%;border-radius:10px;-webkit-transition:all
      0.15s ease-in-out;transition:all 0.15s
      ease-in-out;padding:8px;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-text-decoration:none;text-decoration:none;}.css-78enoq
      small{display:block;}.css-78enoq:hover{background-color:#DCE9FF;}.css-78enoq:hover
      div:first-of-type{background-color:#ffffff;}@media (min-width:
      1200px){.css-78enoq{min-width:236px;}}</style><style
      data-emotion="css 1pk5mwd"
      data-s=""
    >.css-1pk5mwd{position:relative;-webkit-flex-shrink:0;-ms-flex-negative:0;flex-shrink:0;border-radius:8px;overflow:hidden;-webkit-transition:all
      0.15s ease-in-out;transition:all 0.15s
      ease-in-out;background-color:#EFF2F6;width:56px;height:56px;margin-right:16px;}@media
      (min-width: 1200px){.css-1pk5mwd{height:86px;width:86px;}}</style><style
      data-emotion="css 4garc7"
      data-s=""
    >.css-4garc7{font-size:16px;line-height:20px;letter-spacing:-0.01em;font-weight:500;margin:0;color:#080f1a;}</style><style
      data-emotion="css 207l59"
      data-s=""
    >.css-207l59{color:#647491;font-weight:400;white-space:pre-line;font-size:14px;line-height:18px;letter-spacing:-0.01em;margin:4px
      0 0 0;font-weight:400;}</style><style
      data-emotion="css 1r0hrva"
      data-s=""
    >.css-1r0hrva{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;width:100%;border-radius:10px;-webkit-transition:all
      0.15s ease-in-out;transition:all 0.15s
      ease-in-out;padding:8px;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-text-decoration:none;text-decoration:none;}.css-1r0hrva
      small{display:block;}.css-1r0hrva:hover{background-color:#EBE4FC;}.css-1r0hrva:hover
      div:first-of-type{background-color:#ffffff;}@media (min-width:
      1200px){.css-1r0hrva{min-width:236px;}}</style><style
      data-emotion="css 4uulnd"
      data-s=""
    >.css-4uulnd{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;width:100%;border-radius:4px;-webkit-transition:all
      0.15s ease-in-out;transition:all 0.15s
      ease-in-out;padding:8px;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-text-decoration:none;text-decoration:none;}.css-4uulnd
      small{display:block;}.css-4uulnd:hover{background-color:#EFF2F6;}@media
      (min-width: 1200px){.css-4uulnd{min-width:236px;}}</style><style
      data-emotion="css 15gyxdv"
      data-s=""
    >.css-15gyxdv{position:relative;-webkit-flex-shrink:0;-ms-flex-negative:0;flex-shrink:0;border-radius:0;overflow:hidden;-webkit-transition:all
      0.15s ease-in-out;transition:all 0.15s
      ease-in-out;width:22px;height:22px;margin-right:12px;}</style><style
      data-emotion="css 5mlc03"
      data-s=""
    >.css-5mlc03{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;margin-bottom:0;-webkit-padding-start:0;padding-inline-start:0;margin-top:-18px;}@media
      (min-width: 1200px){.css-5mlc03{margin-top:36px;}}</style><style
      data-emotion="css 16avbou"
      data-s=""
    >.css-16avbou{margin-top:8px;}.css-16avbou a{width:100%;}@media (min-width:
      1200px){.css-16avbou{margin-top:auto;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;padding-left:8px;position:relative;top:8px;opacity:0;-webkit-transition:all
      0.25s ease-in-out;transition:all 0.25s ease-in-out;}}</style><style
      data-emotion="css zwv6ym"
      data-s=""
    >.css-zwv6ym{display:-webkit-inline-box;display:-webkit-inline-flex;display:-ms-inline-flexbox;display:inline-flex;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;padding:0;border-radius:4px;-webkit-print-color-scheme:#303f9f;color-scheme:#303f9f;cursor:pointer;-webkit-text-decoration:none;text-decoration:none;font-size:14px;line-height:18px;letter-spacing:-0.01em;font-weight:400;height:-webkit-fit-content;height:-moz-fit-content;height:fit-content;min-height:32px;padding:10px
      24px;background:#ffffff;border:2px solid
      #EFF2F6;color:#080f1a;pointer-events:unset;text-align:center;}.css-zwv6ym:hover{color:#ffffff;background:#080f1a;border:2px
      solid
      #080f1a;}.css-zwv6ym:active{color:#ffffff;background:#ACB8CB;border:2px
      solid #ACB8CB;}.css-zwv6ym:hover
      span:after{margin-left:12px;-webkit-transition:margin-left 0.2s
      ease-out;transition:margin-left 0.2s ease-out;}</style><style
      data-emotion="css n45pk4"
      data-s=""
    >.css-n45pk4{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;width:100%;border-radius:10px;-webkit-transition:all
      0.15s ease-in-out;transition:all 0.15s
      ease-in-out;padding:8px;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-text-decoration:none;text-decoration:none;}.css-n45pk4
      small{display:block;}.css-n45pk4:hover
      p:first-of-type{-webkit-text-decoration:underline;text-decoration:underline;}@media
      (min-width: 1200px){.css-n45pk4{min-width:236px;}}</style><style
      data-emotion="css 6z0r1x"
      data-s=""
    >.css-6z0r1x{position:relative;-webkit-flex-shrink:0;-ms-flex-negative:0;flex-shrink:0;border-radius:8px;overflow:hidden;-webkit-transition:all
      0.15s ease-in-out;transition:all 0.15s
      ease-in-out;width:56px;height:56px;margin-right:16px;}@media (min-width:
      1200px){.css-6z0r1x{height:86px;width:86px;}}</style><style
      data-emotion="css 12y9m9t"
      data-s=""
    >.css-12y9m9t{position:fixed;bottom:0;left:0;display:none;width:100%;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;grid-area:buttons;padding:24px
      16px;border-top:1px solid #F5F7F9;background-color:#ffffff;}.css-12y9m9t
      >*{margin-bottom:10px;}.css-12y9m9t >*:last-child{margin-bottom:0;}@media
      (min-width:
      1200px){.css-12y9m9t{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;position:unset;-webkit-align-items:stretch;-webkit-box-align:stretch;-ms-flex-align:stretch;align-items:stretch;border-top:unset;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-box-pack:end;-ms-flex-pack:end;-webkit-justify-content:flex-end;justify-content:flex-end;margin:0;padding:0;}.css-12y9m9t
      a:not(:last-child){margin-right:24px;}.css-12y9m9t >*{margin-bottom:0;}}</style><style
      data-emotion="css b4vahx"
      data-s=""
    >.css-b4vahx{display:-webkit-inline-box;display:-webkit-inline-flex;display:-ms-inline-flexbox;display:inline-flex;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;padding:0;border-radius:4px;-webkit-print-color-scheme:#303f9f;color-scheme:#303f9f;cursor:pointer;-webkit-text-decoration:none;text-decoration:none;font-size:18px;line-height:23px;letter-spacing:-0.01em;font-weight:400;height:-webkit-fit-content;height:-moz-fit-content;height:fit-content;min-height:43px;padding:8px
      24px;background:transparent;border:2px solid
      #EFF2F6;color:#ffffff;pointer-events:unset;text-align:left;background:transparent;border:1px
      solid
      transparent;color:#080f1a;padding-left:0;padding-right:0;}.css-b4vahx:hover{color:#ffffff;background:#080f1a;border:2px
      solid
      #080f1a;}.css-b4vahx:active{color:#ffffff;background:#ACB8CB;border:2px
      solid #ACB8CB;}.css-b4vahx:hover
      span:after{margin-left:12px;-webkit-transition:margin-left 0.2s
      ease-out;transition:margin-left 0.2s
      ease-out;}.css-b4vahx:hover,.css-b4vahx:active{color:#080f1a;background:transparent;border:1px
      solid
      transparent;-webkit-text-decoration:underline;text-decoration:underline;}</style><style
      data-emotion="css 1r837fu"
      data-s=""
    >.css-1r837fu{display:-webkit-inline-box;display:-webkit-inline-flex;display:-ms-inline-flexbox;display:inline-flex;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;padding:0;border-radius:4px;-webkit-print-color-scheme:#303f9f;color-scheme:#303f9f;cursor:pointer;-webkit-text-decoration:none;text-decoration:none;font-size:18px;line-height:23px;letter-spacing:-0.01em;font-weight:400;height:-webkit-fit-content;height:-moz-fit-content;height:fit-content;min-height:43px;padding:8px
      24px;background:#ffffff;border:2px solid
      #EFF2F6;color:#080f1a;pointer-events:unset;text-align:center;}.css-1r837fu:hover{color:#ffffff;background:#080f1a;border:2px
      solid
      #080f1a;}.css-1r837fu:active{color:#ffffff;background:#ACB8CB;border:2px
      solid #ACB8CB;}.css-1r837fu:hover
      span:after{margin-left:12px;-webkit-transition:margin-left 0.2s
      ease-out;transition:margin-left 0.2s ease-out;}</style><style
      data-emotion="css 1kwyur6"
      data-s=""
    >.css-1kwyur6{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;}@media
      (min-width: 1200px){.css-1kwyur6{display:none;}}</style><style
      data-emotion="css 1nsdklw"
      data-s=""
    >.css-1nsdklw{cursor:pointer;padding:5px;}.css-1nsdklw
      span{width:24px;height:3px;background-color:#080f1a;display:block;margin:4px
      auto;-webkit-transition:all 0.2s ease-in;transition:all 0.2s ease-in;}</style><style
      data-emotion="css 67o939"
      data-s=""
    >.css-67o939{margin-left:auto;margin-right:auto;max-width:2280px;overflow:hidden;background-color:unset;}</style><style
      data-emotion="css 19dcu5p"
      data-s=""
    >.css-19dcu5p{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;}</style><style
      data-emotion="css 1blq8gn"
      data-s=""
    >.css-1blq8gn{margin-left:auto;margin-right:auto;padding-left:16px;padding-right:16px;max-width:100%;text-align:center;padding-top:10px;padding-bottom:16px;}@media
      (min-width:
      600px){.css-1blq8gn{padding-left:40px;padding-right:40px;}}@media
      (min-width:
      905px){.css-1blq8gn{padding-left:0;padding-right:0;max-width:840px;}}@media
      (min-width:
      1200px){.css-1blq8gn{padding-left:92px;padding-right:92px;max-width:100%;}}@media
      (min-width:
      1400px){.css-1blq8gn{padding-left:0;padding-right:0;max-width:1216px;}}@media
      (min-width: 600px){.css-1blq8gn{padding-top:46px;}}@media (min-width:
      905px){.css-1blq8gn{padding-bottom:32px;}}@media (min-width:
      1200px){.css-1blq8gn{padding-top:66px;}}</style><style
      data-emotion="css nyl2pt"
      data-s=""
    >.css-nyl2pt{color:#080f1a;font-weight:600;white-space:pre-line;font-size:40px;line-height:52px;letter-spacing:-0.02em;margin-bottom:36px;margin-top:0;font-weight:500;}.css-nyl2pt
      strong{word-break:break-all;}@media (min-width:
      600px){.css-nyl2pt{font-size:52px;line-height:64px;letter-spacing:-0.03em;}}@media
      screen and (min-width: 600px){.css-nyl2pt{margin-bottom:44px;}}</style><style
      data-emotion="css 1olgody"
      data-s=""
    >.css-1olgody{display:-webkit-inline-box;display:-webkit-inline-flex;display:-ms-inline-flexbox;display:inline-flex;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;padding:0;border-radius:4px;-webkit-print-color-scheme:#303f9f;color-scheme:#303f9f;cursor:pointer;-webkit-text-decoration:none;text-decoration:none;font-size:20px;line-height:32px;letter-spacing:-0.01em;font-weight:500;height:-webkit-fit-content;height:-moz-fit-content;height:fit-content;min-height:52px;padding:10px
      32px;background:#0566ff;border:2px solid
      #0566ff;color:#ffffff;pointer-events:unset;text-align:center;min-width:220px;font-weight:500;}.css-1olgody:hover{color:#ffffff;background:#080f1a;border:2px
      solid
      #080f1a;}.css-1olgody:active{color:#ffffff;background:#080f1a;border:2px
      solid #080f1a;}.css-1olgody:hover
      span:after{margin-left:12px;-webkit-transition:margin-left 0.2s
      ease-out;transition:margin-left 0.2s ease-out;}</style><style
      data-emotion="css 8pauht"
      data-s=""
    >.css-8pauht{box-sizing:border-box;min-width:0;max-width:100vw;position:relative;}</style><style
      data-emotion="css 685p9g"
      data-s=""
    >.css-685p9g{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;position:relative;}@media
      screen and (min-width:
      1200px){.css-685p9g{-webkit-flex-direction:row-reverse;-ms-flex-direction:row-reverse;flex-direction:row-reverse;}}@media
      screen and (min-width:
      1200px){.css-685p9g{-webkit-flex-direction:row-reverse;-ms-flex-direction:row-reverse;flex-direction:row-reverse;}}@media
      screen and (min-width:
      1200px){.css-685p9g{margin-left:auto;margin-right:auto;}}@media screen and
      (min-width: 1400px){.css-685p9g{max-width:1216px;}}</style><style
      data-emotion="css dvhn0y"
      data-s=""
    >.css-dvhn0y{box-sizing:border-box;min-width:0;display:none;opacity:1;will-change:opacity;pointer-events:none;}@media
      (min-width:
      1200px){.css-dvhn0y{display:block;position:absolute;left:0;top:94px;height:508px;width:100%;overflow:hidden;}}</style><style
      data-emotion="css 1adzrvd"
      data-s=""
    >.css-1adzrvd{box-sizing:border-box;min-width:0;width:468px;height:411px;left:5%;bottom:4px;position:absolute;margin:0
      auto;will-change:opacity,transform;bottom:0;transform-style:preserve-3d;}</style><style
      data-emotion="css zydc6n"
      data-s=""
    >.css-zydc6n{box-sizing:border-box;min-width:0;width:468px;height:505px;left:30%;position:absolute;margin:0
      auto;will-change:opacity,transform;bottom:0;transform-style:preserve-3d;}</style><style
      data-emotion="css qnf4zo"
      data-s=""
    >.css-qnf4zo{box-sizing:border-box;min-width:0;position:relative;}@media
      (min-width:
      1200px){.css-qnf4zo{width:50%;left:-1px;}}.css-qnf4zo:before{content:"";z-index:-1;top:95px;left:0;width:100%;height:314px;position:absolute;background:linear-gradient(90deg,
      rgba(0,27,71,1) 0%, rgba(0,27,71,1) 49.99%, rgba(255,200,89,1) 50%,
      rgba(255,200,89,1) 100%);}@media (min-width:
      600px){.css-qnf4zo:before{top:140px;height:448px;}}@media (min-width:
      1200px){.css-qnf4zo:before{top:94px;height:508px;}}</style><style
      data-emotion="css 162vtt1"
      data-s=""
    >.css-162vtt1{box-sizing:border-box;min-width:0;margin-left:auto;margin-right:auto;height:488px;width:328px;position:relative;}@media
      screen and (min-width:
      600px){.css-162vtt1{width:468px;height:696px;}}@media screen and
      (min-width: 1200px){.css-162vtt1{top:-18px;}}</style><style
      data-emotion="css 1turs1c"
      data-s=""
    >.css-1turs1c{position:absolute;top:140px;left:48px;width:235px;}@media
      (min-width: 600px){.css-1turs1c{top:174px;width:370px;}}.css-1turs1c
      video{width:100%;height:auto;}@media (min-width: 600px){.css-1turs1c
      video{height:372px;width:353px;}}</style><style
      data-emotion="css awb5nj"
      data-s=""
    >.css-awb5nj{box-sizing:border-box;min-width:0;margin-left:auto;margin-right:auto;margin-top:-110px;-webkit-align-self:center;-ms-flex-item-align:center;align-self:center;text-align:center;background:#001B47;}@media
      screen and (min-width: 1200px){.css-awb5nj{margin-top:0;}}@media screen
      and (min-width: 1200px){.css-awb5nj{text-align:left;}}@media (min-width:
      1200px){.css-awb5nj{width:50%;height:508px;}}.css-awb5nj
      div{background:#001B47;}@media (min-width: 1200px){.css-awb5nj
      div{opacity:0;}}@media (min-width: 1200px){.css-awb5nj
      p{max-width:492px;}}@media (min-width: 1400px){.css-awb5nj
      p{max-width:592px;}}</style><style
      data-emotion="css 12xzxfu"
      data-s=""
    >.css-12xzxfu{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;height:100%;width:100%;}</style><style
      data-emotion="css 1etocj5"
      data-s=""
    >.css-1etocj5{color:#DCE9FF;font-weight:500;white-space:pre-line;font-size:32px;line-height:41px;letter-spacing:-0.03em;margin-bottom:0;margin-top:0;padding-bottom:60px;padding-left:16px;padding-right:16px;padding-top:120px;font-weight:500;}@media
      (min-width:
      600px){.css-1etocj5{font-size:40px;line-height:64px;letter-spacing:-0.02em;}}@media
      screen and (min-width:
      600px){.css-1etocj5{padding-top:142px;padding-bottom:80px;padding-left:40px;padding-right:40px;}}@media
      screen and (min-width:
      1200px){.css-1etocj5{padding-top:0;padding-bottom:0;padding-left:0;padding-right:0;margin-left:auto;}}</style><style
      data-emotion="css 1j0ea92"
      data-s=""
    >.css-1j0ea92{box-sizing:border-box;min-width:0;margin-left:auto;margin-right:auto;z-index:-2;background:linear-gradient(90deg,
      rgba(0,27,71,1) 0%, rgba(0,27,71,1) 49.99%, rgba(255,200,89,1) 50%,
      rgba(255,200,89,1)
      100%);position:absolute;left:0;max-width:100vw;height:100%;}@media
      (min-width: 600px){.css-1j0ea92{height:508px;top:94px;}}@media (min-width:
      1200px){.css-1j0ea92{position:absolute;left:0;right:0;max-width:100%;will-change:width;width:75%;}}</style><style
      data-emotion="css 1ewj470"
      data-s=""
    >.css-1ewj470{margin-bottom:100px;margin-left:auto;margin-right:auto;padding-top:80px;max-width:2280px;background-color:unset;}@media
      screen and (min-width: 600px){.css-1ewj470{margin-bottom:120px;}}</style><style
      data-emotion="css mwfy6p"
      data-s=""
    >.css-mwfy6p{margin-left:auto;margin-right:auto;padding-left:16px;padding-right:16px;max-width:100%;}@media
      (min-width:
      600px){.css-mwfy6p{padding-left:40px;padding-right:40px;}}@media
      (min-width:
      905px){.css-mwfy6p{padding-left:0;padding-right:0;max-width:840px;}}@media
      (min-width:
      1200px){.css-mwfy6p{padding-left:92px;padding-right:92px;max-width:100%;}}@media
      (min-width:
      1400px){.css-mwfy6p{padding-left:0;padding-right:0;max-width:1216px;}}</style><style
      data-emotion="css bz8hw7"
      data-s=""
    >.css-bz8hw7{overflow:hidden;display:grid;grid-column-gap:32px;grid-template-columns:auto;grid-template-rows:auto
      auto auto;grid-template-areas:'text' 'buttons' 'image';}@media (min-width:
      600px){.css-bz8hw7{overflow:unset;grid-template-columns:repeat(8,
      1fr);grid-template-rows:220px auto auto;grid-template-areas:'buttonPrev
      text text text text text text buttonNext' '. text text text text text text
      .' '. image image image image image image .';}}@media (min-width:
      1200px){.css-bz8hw7{grid-template-columns:repeat(12,
      1fr);grid-template-rows:auto;grid-template-areas:'buttonPrev image image
      image image image image text text text text
      buttonNext';padding-bottom:50px;}}</style><style
      data-emotion="css 1jyus5f"
      data-s=""
    >.css-1jyus5f{grid-area:text;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;margin-bottom:32px;}@media
      (min-width: 600px){.css-1jyus5f{margin-bottom:64px;}}@media (min-width:
      1200px){.css-1jyus5f{margin-bottom:0;}}</style><style
      data-emotion="css 1pp0i13 animation-vffaca"
      data-s=""
    >.css-1pp0i13{display:block;pointer-events:initial;height:auto;opacity:1;-webkit-transition:opacity
      0.3s;transition:opacity 0.3s;-webkit-animation:animation-vffaca 0.7s
      ease-in;animation:animation-vffaca 0.7s ease-in;}@-webkit-keyframes
      animation-vffaca{from{-webkit-transform:translateX(20px);-moz-transform:translateX(20px);-ms-transform:translateX(20px);transform:translateX(20px);opacity:0;}to{-webkit-transform:translateX(0);-moz-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0);opacity:1;}}@keyframes
      animation-vffaca{from{-webkit-transform:translateX(20px);-moz-transform:translateX(20px);-ms-transform:translateX(20px);transform:translateX(20px);opacity:0;}to{-webkit-transform:translateX(0);-moz-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0);opacity:1;}}</style><style
      data-emotion="css 8wx1nz"
      data-s=""
    >.css-8wx1nz{width:162px;height:38px;}</style><style
      data-emotion="css 1e22vdb"
      data-s=""
    >.css-1e22vdb{color:#080f1a;font-weight:600;white-space:pre-line;font-size:20px;line-height:32px;letter-spacing:-0.01em;font-weight:600;}@media
      (min-width:
      600px){.css-1e22vdb{font-size:24px;line-height:40px;letter-spacing:-0.01em;}}</style><style
      data-emotion="css 1vog4db"
      data-s=""
    >.css-1vog4db{border-left:3px solid
      #080f1a;margin-right:32px;margin-left:24px;padding-left:40px;}</style><style
      data-emotion="css wsf054"
      data-s=""
    >.css-wsf054{height:52px;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-flex-flow:column
      wrap;-webkit-flex-flow:column wrap;-ms-flex-flow:column
      wrap;flex-flow:column
      wrap;-webkit-align-content:flex-start;-ms-flex-line-pack:flex-start;align-content:flex-start;margin-bottom:32px;}</style><style
      data-emotion="css lpcckv"
      data-s=""
    >.css-lpcckv{margin-right:20px;width:52px;height:52px;}</style><style
      data-emotion="css lecqku"
      data-s=""
    >.css-lecqku{color:#080f1a;font-weight:500;white-space:pre-line;font-size:16px;line-height:24px;letter-spacing:-0.01em;margin:0;font-weight:500;}</style><style
      data-emotion="css 14sfba4"
      data-s=""
    >.css-14sfba4{-webkit-text-decoration:underline;text-decoration:underline;color:#080f1a;font-weight:500;font-size:16px;line-height:24px;letter-spacing:-0.01em;}.css-14sfba4:hover{-webkit-text-decoration:underline;text-decoration:underline;}</style><style
      data-emotion="css 18zvxoh"
      data-s=""
    >.css-18zvxoh{color:#080f1a;font-weight:400;white-space:pre-line;font-size:16px;line-height:24px;letter-spacing:-0.01em;margin:0;font-weight:400;}@media
      (min-width:
      600px){.css-18zvxoh{font-size:20px;line-height:32px;letter-spacing:-0.01em;}}</style><style
      data-emotion="css 13jy6t0"
      data-s=""
    >.css-13jy6t0{display:none;pointer-events:none;height:0;opacity:0;-webkit-transition:opacity
      0.3s;transition:opacity 0.3s;}</style><style
      data-emotion="css spxbuf"
      data-s=""
    >.css-spxbuf{grid-area:buttons;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;}.css-spxbuf
      button+button{margin-left:32px;}@media (min-width:
      600px){.css-spxbuf{display:none;}}</style><style
      data-emotion="css 1u7stof"
      data-s=""
    >.css-1u7stof{border:none;background:transparent;padding:0;text-align:left;cursor:pointer;width:44px;height:44px;}.css-1u7stof
      svg{width:44px;height:44px;-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);-ms-transform:rotate(180deg);transform:rotate(180deg);}@media
      (min-width: 600px){.css-1u7stof{width:48px;height:48px;}.css-1u7stof
      svg{width:48px;height:48px;}}</style><style
      data-emotion="css o07ppp"
      data-s=""
    >.css-o07ppp{border:none;background:transparent;padding:0;text-align:left;cursor:pointer;width:44px;height:44px;}.css-o07ppp
      svg{width:44px;height:44px;}@media (min-width:
      600px){.css-o07ppp{width:48px;height:48px;}.css-o07ppp
      svg{width:48px;height:48px;}}</style><style
      data-emotion="css abzxxj"
      data-s=""
    >.css-abzxxj{display:none;grid-area:buttonPrev;-webkit-box-pack:start;-ms-flex-pack:start;-webkit-justify-content:flex-start;justify-content:flex-start;}@media
      (min-width:
      600px){.css-abzxxj{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;}.css-abzxxj
      button{height:100%;}}</style><style
      data-emotion="css qe7r46"
      data-s=""
    >.css-qe7r46{display:none;grid-area:buttonNext;-webkit-box-pack:end;-ms-flex-pack:end;-webkit-justify-content:flex-end;justify-content:flex-end;}@media
      (min-width:
      600px){.css-qe7r46{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;}.css-qe7r46
      button{height:100%;}}</style><style
      data-emotion="css 1ska32j"
      data-s=""
    >.css-1ska32j{grid-area:image;position:relative;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;}@media
      (min-width:
      1200px){.css-1ska32j{-webkit-align-items:flex-start;-webkit-box-align:flex-start;-ms-flex-align:flex-start;align-items:flex-start;}}</style><style
      data-emotion="css sljd0z"
      data-s=""
    >@media (min-width:
      600px){.css-sljd0z{width:432px;max-width:100%;height:620px;position:relative;}}</style><style
      data-emotion="css t2bmsv"
      data-s=""
    >.css-t2bmsv{box-sizing:border-box;min-width:0;height:0;width:0%;}@media
      screen and (min-width: 600px){.css-t2bmsv{width:432px;height:620px;}}</style><style
      data-emotion="css a1lgv6"
      data-s=""
    >.css-a1lgv6{display:none;}@media (min-width:
      600px){.css-a1lgv6{display:block;width:300px;height:300px;position:absolute;bottom:-70px;left:-125px;z-index:1;}}</style><style
      data-emotion="css 1y76gl1 animation-vffaca"
      data-s=""
    >.css-1y76gl1{display:block;pointer-events:initial;height:auto;opacity:1;-webkit-transition:opacity
      0.3s;transition:opacity 0.3s;-webkit-animation:animation-vffaca 0.7s
      ease-in;animation:animation-vffaca 0.7s
      ease-in;position:relative;width:100%;max-width:468px;}@media (min-width:
      600px){.css-1y76gl1{width:unset;position:absolute;top:30px;right:-50px;}}@media
      (min-width: 1200px){.css-1y76gl1{right:0;}}@media (min-width:
      1400px){.css-1y76gl1{left:120px;}}@-webkit-keyframes
      animation-vffaca{from{-webkit-transform:translateX(20px);-moz-transform:translateX(20px);-ms-transform:translateX(20px);transform:translateX(20px);opacity:0;}to{-webkit-transform:translateX(0);-moz-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0);opacity:1;}}@keyframes
      animation-vffaca{from{-webkit-transform:translateX(20px);-moz-transform:translateX(20px);-ms-transform:translateX(20px);transform:translateX(20px);opacity:0;}to{-webkit-transform:translateX(0);-moz-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0);opacity:1;}}</style><style
      data-emotion="css 1bcdy7c"
      data-s=""
    >.css-1bcdy7c{display:none;pointer-events:none;height:0;opacity:0;-webkit-transition:opacity
      0.3s;transition:opacity
      0.3s;position:absolute;width:100%;max-width:468px;}@media (min-width:
      600px){.css-1bcdy7c{width:unset;position:absolute;top:30px;right:-50px;}}@media
      (min-width: 1200px){.css-1bcdy7c{right:0;}}@media (min-width:
      1400px){.css-1bcdy7c{left:120px;}}</style><style
      data-emotion="css 18eqtal"
      data-s=""
    >.css-18eqtal{margin-left:auto;margin-right:auto;max-width:2280px;background-color:unset;}</style><style
      data-emotion="css fkxlev"
      data-s=""
    >.css-fkxlev{margin-bottom:60px;}@media (min-width:
      600px){.css-fkxlev{margin-bottom:80px;}}@media (min-width:
      1200px){.css-fkxlev{display:grid;grid-template-columns:repeat(12,
      1fr);grid-column-gap:32px;}.css-fkxlev p{grid-column:2/span
      10;}.css-fkxlev h2{grid-column:2/span 10;}}</style><style
      data-emotion="css 177gbce"
      data-s=""
    >.css-177gbce{color:#080f1a;font-weight:600;white-space:pre-line;font-size:40px;line-height:52px;letter-spacing:-0.02em;text-align:center;}.css-177gbce
      strong{word-break:break-all;}@media (min-width:
      600px){.css-177gbce{font-size:52px;line-height:64px;letter-spacing:-0.03em;}}</style><style
      data-emotion="css 92c7py"
      data-s=""
    >.css-92c7py{margin-bottom:60px;}@media (min-width:
      600px){.css-92c7py{margin-bottom:80px;}}</style><style
      data-emotion="css ufobgd"
      data-s=""
    >.css-ufobgd{max-width:328px;margin:auto;}@media (min-width:
      600px){.css-ufobgd{max-width:650px;}}@media (min-width:
      1200px){.css-ufobgd{max-width:1016px;}}</style><style
      data-emotion="css ew2sup"
      data-s=""
    >.css-ew2sup{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-flex-wrap:wrap;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;list-style:none;padding:0;margin:-16px
      0;}@media (min-width: 1200px){.css-ew2sup{margin:0;}}</style><style
      data-emotion="css 4ekzfv"
      data-s=""
    >.css-4ekzfv{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;margin:16px;}.css-4ekzfv
      a{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;}@media
      (min-width: 600px){.css-4ekzfv{margin:16px 24px;}}@media (min-width:
      1200px){.css-4ekzfv{margin:0 24px;}}</style><style
      data-emotion="css 1q4p6e5"
      data-s=""
    >.css-1q4p6e5{width:100%;overflow:hidden;position:relative;margin-bottom:80px;}.css-1q4p6e5::before,.css-1q4p6e5::after{background:linear-gradient(
      90deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%
      );height:100%;position:absolute;width:300px;z-index:1;top:0;}@media
      (min-width:
      600px){.css-1q4p6e5::before,.css-1q4p6e5::after{content:"";}}.css-1q4p6e5::after{right:0;-webkit-transform:rotateZ(180deg);-moz-transform:rotateZ(180deg);-ms-transform:rotateZ(180deg);transform:rotateZ(180deg);}.css-1q4p6e5::before{left:0;}@media
      (min-width: 600px){.css-1q4p6e5{margin-bottom:0;}}</style><style
      data-emotion="css 12fyw2e animation-1jn7y0k animation-1b0azp5"
      data-s=""
    >.css-12fyw2e{overflow:scroll;scrollbar-width:none;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;position:relative;-webkit-animation-timing-function:linear;animation-timing-function:linear;-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite;will-change:transform;padding-top:20px;padding-left:16px;width:calc((328px
      * 15) + (32px *
      16));}.css-12fyw2e::-webkit-scrollbar{display:none;}.css-12fyw2e:active{-webkit-animation-play-state:paused;animation-play-state:paused;}@media
      (min-width: 1200px){.css-12fyw2e{overflow:visible;width:100%;}}@media
      (min-width:
      600px){.css-12fyw2e{-webkit-animation-name:animation-1b0azp5;animation-name:animation-1b0azp5;-webkit-animation-duration:180s;animation-duration:180s;width:calc((344px
      * 12) + (32px * 9));}}@media (min-width:
      1200px){.css-12fyw2e{-webkit-animation-name:animation-1jn7y0k;animation-name:animation-1jn7y0k;}}@-webkit-keyframes
      animation-1jn7y0k{0%{-webkit-transform:translateX(0);-moz-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0);}100%{-webkit-transform:translateX(-4160px);-moz-transform:translateX(-4160px);-ms-transform:translateX(-4160px);transform:translateX(-4160px);}}@keyframes
      animation-1jn7y0k{0%{-webkit-transform:translateX(0);-moz-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0);}100%{-webkit-transform:translateX(-4160px);-moz-transform:translateX(-4160px);-ms-transform:translateX(-4160px);transform:translateX(-4160px);}}@-webkit-keyframes
      animation-1b0azp5{0%{-webkit-transform:translateX(0);-moz-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0);}100%{-webkit-transform:translateX(-3384px);-moz-transform:translateX(-3384px);-ms-transform:translateX(-3384px);transform:translateX(-3384px);}}@keyframes
      animation-1b0azp5{0%{-webkit-transform:translateX(0);-moz-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0);}100%{-webkit-transform:translateX(-3384px);-moz-transform:translateX(-3384px);-ms-transform:translateX(-3384px);transform:translateX(-3384px);}}</style><style
      data-emotion="css 12lzjwy"
      data-s=""
    >.css-12lzjwy{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-column-gap:32px;column-gap:32px;padding-bottom:60px;}@media
      (min-width:
      600px){.css-12lzjwy{-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-box-flex-wrap:wrap;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;height:1122px;padding-bottom:40px;}}@media
      (min-width: 1200px){.css-12lzjwy{height:1080px;}}</style><style
      data-emotion="css m6mn1m"
      data-s=""
    >.css-m6mn1m{box-shadow:0px 12px 32px rgba(0, 27, 71,
      0.12);border-radius:8px;width:328px;height:-webkit-fit-content;height:-moz-fit-content;height:fit-content;padding:24px
      32px;}@media (min-width:
      600px){.css-m6mn1m{width:344px;margin-bottom:24px;}}@media (min-width:
      1200px){.css-m6mn1m{width:488px;}}</style><style
      data-emotion="css zjik7"
      data-s=""
    >.css-zjik7{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;}</style><style
      data-emotion="css 1xk3a2p"
      data-s=""
    >.css-1xk3a2p{width:52px;height:52px;margin-right:20px;min-width:52px;}</style><style
      data-emotion="css 1rdgamr"
      data-s=""
    >.css-1rdgamr{color:#080f1a;font-weight:500;white-space:pre-line;font-size:16px;line-height:24px;letter-spacing:-0.01em;margin-top:4px;margin-bottom:0;font-weight:500;}</style><style
      data-emotion="css uuhbfo"
      data-s=""
    >.css-uuhbfo{color:#080f1a;font-weight:500;white-space:pre-line;font-size:16px;line-height:24px;letter-spacing:-0.01em;margin-top:0;margin-bottom:0;font-weight:500;}</style><style
      data-emotion="css 1xbcdxk"
      data-s=""
    >.css-1xbcdxk{color:#080f1a;font-weight:500;white-space:pre-line;font-size:20px;line-height:32px;letter-spacing:-0.01em;margin-top:24px;margin-bottom:24px;font-weight:500;}@media
      (min-width:
      600px){.css-1xbcdxk{font-size:24px;line-height:32px;letter-spacing:-0.02em;}}</style><style
      data-emotion="css 1qvqbt2"
      data-s=""
    >.css-1qvqbt2{color:#080f1a;font-weight:400;white-space:pre-line;font-size:16px;line-height:24px;letter-spacing:-0.01em;margin-bottom:24px;font-weight:400;}</style><style
      data-emotion="css 2qga7i"
      data-s=""
    >.css-2qga7i{text-align:right;}</style><style
      data-emotion="css 13nypvk"
      data-s=""
    >.css-13nypvk{-webkit-text-decoration:underline;text-decoration:underline;color:#647491;font-weight:400;font-size:16px;line-height:24px;letter-spacing:-0.01em;}.css-13nypvk:hover{-webkit-text-decoration:underline;text-decoration:underline;}</style><style
      data-emotion="css e70gr3"
      data-s=""
    >.css-e70gr3{box-sizing:border-box;min-width:0;width:calc(100vw -
      32px);left:16px;width:calc(100vw -
      32px);left:16px;height:6px;border-radius:3px;background:#D3DBE5;position:absolute;bottom:0;}@media
      (min-width: 600px){.css-e70gr3{display:none;}}@media (min-width:
      1200px){.css-e70gr3{display:none;}}.css-e70gr3
      >div{width:0;min-width:16px;height:6px;background:#001B47;border-radius:3px;}</style><style
      data-emotion="css tvt2je"
      data-s=""
    >.css-tvt2je{margin-left:auto;margin-right:auto;padding-top:100px;max-width:2280px;background-color:#001B47;}@media
      screen and (min-width: 600px){.css-tvt2je{padding-top:120px;}}</style><style
      data-emotion="css 1gc41kn"
      data-s=""
    >.css-1gc41kn{color:#DCE9FF;font-weight:600;white-space:pre-line;font-size:40px;line-height:52px;letter-spacing:-0.02em;text-align:center;}.css-1gc41kn
      strong{word-break:break-all;}@media (min-width:
      600px){.css-1gc41kn{font-size:52px;line-height:64px;letter-spacing:-0.03em;}}</style><style
      data-emotion="css c8oifm"
      data-s=""
    >.css-c8oifm{box-sizing:border-box;min-width:0;overflow:hidden;}@media
      screen and (min-width: 600px){.css-c8oifm{overflow:unset;}}</style><style
      data-emotion="css ti2o1g"
      data-s=""
    >.css-ti2o1g{display:grid;grid-column-gap:32px;grid-template-columns:auto;grid-template-rows:auto
      auto auto;grid-template-areas:'text' 'buttons' 'image';}@media (min-width:
      600px){.css-ti2o1g{overflow:unset;grid-template-columns:repeat(8,
      1fr);grid-template-rows:auto auto;grid-template-areas:'buttonPrev text
      text text text text text buttonNext' 'buttonPrev image image image image
      image image buttonNext';}}@media (min-width:
      1200px){.css-ti2o1g{grid-template-columns:repeat(12,
      1fr);grid-template-rows:auto;grid-template-areas:'buttonPrev text text
      text text text image image image image image buttonNext';}}</style><style
      data-emotion="css bkvggq animation-vffaca"
      data-s=""
    >.css-bkvggq{display:block;pointer-events:initial;height:auto;opacity:1;-webkit-transition:opacity
      0.3s;transition:opacity 0.3s;-webkit-animation:animation-vffaca 0.7s
      ease-in;animation:animation-vffaca 0.7s ease-in;grid-area:text;}@media
      (min-width:
      1200px){.css-bkvggq>div{height:100%;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;}}@-webkit-keyframes
      animation-vffaca{from{-webkit-transform:translateX(20px);-moz-transform:translateX(20px);-ms-transform:translateX(20px);transform:translateX(20px);opacity:0;}to{-webkit-transform:translateX(0);-moz-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0);opacity:1;}}@keyframes
      animation-vffaca{from{-webkit-transform:translateX(20px);-moz-transform:translateX(20px);-ms-transform:translateX(20px);transform:translateX(20px);opacity:0;}to{-webkit-transform:translateX(0);-moz-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0);opacity:1;}}</style><style
      data-emotion="css 1vbkaq7"
      data-s=""
    >.css-1vbkaq7{box-sizing:border-box;min-width:0;margin-bottom:32px;padding-left:60px;}@media
      screen and (min-width: 600px){.css-1vbkaq7{padding-left:68px;}}@media
      screen and (min-width: 1200px){.css-1vbkaq7{margin-bottom:0;}}</style><style
      data-emotion="css 16tymbg"
      data-s=""
    >.css-16tymbg{position:relative;}.css-16tymbg:before{content:"1.";width:50px;text-align:right;position:absolute;left:-74px;}@media
      (min-width: 600px){.css-16tymbg:before{left:-82px;}}</style><style
      data-emotion="css 4konw6"
      data-s=""
    >.css-4konw6{color:#DCE9FF;font-weight:600;white-space:pre-line;font-size:32px;line-height:41px;letter-spacing:-0.01em;margin-bottom:16px;position:relative;}.css-4konw6
      strong{word-break:break-all;}@media (min-width:
      600px){.css-4konw6{font-size:40px;line-height:52px;letter-spacing:-0.02em;}}.css-4konw6:before{content:"1.";width:50px;text-align:right;position:absolute;left:-74px;}@media
      (min-width: 600px){.css-4konw6:before{left:-82px;}}</style><style
      data-emotion="css bzk0sg"
      data-s=""
    >.css-bzk0sg{color:#DCE9FF;font-weight:400;white-space:pre-line;font-size:20px;line-height:32px;letter-spacing:-0.01em;margin:0;font-weight:400;}@media
      (min-width:
      600px){.css-bzk0sg{font-size:24px;line-height:40px;letter-spacing:-0.01em;}}</style><style
      data-emotion="css 1u7trdz animation-vffaca"
      data-s=""
    >.css-1u7trdz{display:block;pointer-events:initial;height:auto;opacity:1;-webkit-transition:opacity
      0.3s;transition:opacity 0.3s;-webkit-animation:animation-vffaca 0.7s
      ease-in;animation:animation-vffaca 0.7s
      ease-in;position:relative;grid-area:image;width:100vw;left:50%;margin-left:-50vw;margin-top:32px;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;}@media
      (min-width:
      600px){.css-1u7trdz{width:100%;margin-top:0;margin-left:unset;left:unset;}}@-webkit-keyframes
      animation-vffaca{from{-webkit-transform:translateX(20px);-moz-transform:translateX(20px);-ms-transform:translateX(20px);transform:translateX(20px);opacity:0;}to{-webkit-transform:translateX(0);-moz-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0);opacity:1;}}@keyframes
      animation-vffaca{from{-webkit-transform:translateX(20px);-moz-transform:translateX(20px);-ms-transform:translateX(20px);transform:translateX(20px);opacity:0;}to{-webkit-transform:translateX(0);-moz-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0);opacity:1;}}</style><style
      data-emotion="css 1if9uya"
      data-s=""
    >.css-1if9uya{height:auto;width:488px;max-width:100%;}</style><style
      data-emotion="css 1jl23p0"
      data-s=""
    >.css-1jl23p0{display:none;pointer-events:none;height:0;opacity:0;-webkit-transition:opacity
      0.3s;transition:opacity 0.3s;grid-area:text;}@media (min-width:
      1200px){.css-1jl23p0>div{height:100%;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;}}</style><style
      data-emotion="css 1gbh8k9"
      data-s=""
    >.css-1gbh8k9{position:relative;}.css-1gbh8k9:before{content:"2.";width:50px;text-align:right;position:absolute;left:-74px;}@media
      (min-width: 600px){.css-1gbh8k9:before{left:-82px;}}</style><style
      data-emotion="css j3bgnn"
      data-s=""
    >.css-j3bgnn{color:#DCE9FF;font-weight:600;white-space:pre-line;font-size:32px;line-height:41px;letter-spacing:-0.01em;margin-bottom:16px;position:relative;}.css-j3bgnn
      strong{word-break:break-all;}@media (min-width:
      600px){.css-j3bgnn{font-size:40px;line-height:52px;letter-spacing:-0.02em;}}.css-j3bgnn:before{content:"2.";width:50px;text-align:right;position:absolute;left:-74px;}@media
      (min-width: 600px){.css-j3bgnn:before{left:-82px;}}</style><style
      data-emotion="css 10k9xtg"
      data-s=""
    >.css-10k9xtg{display:none;pointer-events:none;height:0;opacity:0;-webkit-transition:opacity
      0.3s;transition:opacity
      0.3s;position:relative;grid-area:image;width:100vw;left:50%;margin-left:-50vw;margin-top:32px;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;}@media
      (min-width:
      600px){.css-10k9xtg{width:100%;margin-top:0;margin-left:unset;left:unset;}}</style><style
      data-emotion="css uekfia"
      data-s=""
    >.css-uekfia{position:relative;}.css-uekfia:before{content:"3.";width:50px;text-align:right;position:absolute;left:-74px;}@media
      (min-width: 600px){.css-uekfia:before{left:-82px;}}</style><style
      data-emotion="css 1r5crwk"
      data-s=""
    >.css-1r5crwk{color:#DCE9FF;font-weight:600;white-space:pre-line;font-size:32px;line-height:41px;letter-spacing:-0.01em;margin-bottom:16px;position:relative;}.css-1r5crwk
      strong{word-break:break-all;}@media (min-width:
      600px){.css-1r5crwk{font-size:40px;line-height:52px;letter-spacing:-0.02em;}}.css-1r5crwk:before{content:"3.";width:50px;text-align:right;position:absolute;left:-74px;}@media
      (min-width: 600px){.css-1r5crwk:before{left:-82px;}}</style><style
      data-emotion="css p6f04c"
      data-s=""
    >.css-p6f04c{position:relative;}.css-p6f04c:before{content:"4.";width:50px;text-align:right;position:absolute;left:-74px;}@media
      (min-width: 600px){.css-p6f04c:before{left:-82px;}}</style><style
      data-emotion="css 1jq4v85"
      data-s=""
    >.css-1jq4v85{color:#DCE9FF;font-weight:600;white-space:pre-line;font-size:32px;line-height:41px;letter-spacing:-0.01em;margin-bottom:16px;position:relative;}.css-1jq4v85
      strong{word-break:break-all;}@media (min-width:
      600px){.css-1jq4v85{font-size:40px;line-height:52px;letter-spacing:-0.02em;}}.css-1jq4v85:before{content:"4.";width:50px;text-align:right;position:absolute;left:-74px;}@media
      (min-width: 600px){.css-1jq4v85:before{left:-82px;}}</style><style
      data-emotion="css pzc6tb"
      data-s=""
    >.css-pzc6tb{position:relative;}.css-pzc6tb:before{content:"5.";width:50px;text-align:right;position:absolute;left:-74px;}@media
      (min-width: 600px){.css-pzc6tb:before{left:-82px;}}</style><style
      data-emotion="css 7nas5a"
      data-s=""
    >.css-7nas5a{color:#DCE9FF;font-weight:600;white-space:pre-line;font-size:32px;line-height:41px;letter-spacing:-0.01em;margin-bottom:16px;position:relative;}.css-7nas5a
      strong{word-break:break-all;}@media (min-width:
      600px){.css-7nas5a{font-size:40px;line-height:52px;letter-spacing:-0.02em;}}.css-7nas5a:before{content:"5.";width:50px;text-align:right;position:absolute;left:-74px;}@media
      (min-width: 600px){.css-7nas5a:before{left:-82px;}}</style><style
      data-emotion="css 1r20jue"
      data-s=""
    >.css-1r20jue{position:relative;}.css-1r20jue:before{content:"6.";width:50px;text-align:right;position:absolute;left:-74px;}@media
      (min-width: 600px){.css-1r20jue:before{left:-82px;}}</style><style
      data-emotion="css 92n4o2"
      data-s=""
    >.css-92n4o2{color:#DCE9FF;font-weight:600;white-space:pre-line;font-size:32px;line-height:41px;letter-spacing:-0.01em;margin-bottom:16px;position:relative;}.css-92n4o2
      strong{word-break:break-all;}@media (min-width:
      600px){.css-92n4o2{font-size:40px;line-height:52px;letter-spacing:-0.02em;}}.css-92n4o2:before{content:"6.";width:50px;text-align:right;position:absolute;left:-74px;}@media
      (min-width: 600px){.css-92n4o2:before{left:-82px;}}</style><style
      data-emotion="css q4mrgo"
      data-s=""
    >.css-q4mrgo{position:relative;}.css-q4mrgo:before{content:"7.";width:50px;text-align:right;position:absolute;left:-74px;}@media
      (min-width: 600px){.css-q4mrgo:before{left:-82px;}}</style><style
      data-emotion="css b38fae"
      data-s=""
    >.css-b38fae{color:#DCE9FF;font-weight:600;white-space:pre-line;font-size:32px;line-height:41px;letter-spacing:-0.01em;margin-bottom:16px;position:relative;}.css-b38fae
      strong{word-break:break-all;}@media (min-width:
      600px){.css-b38fae{font-size:40px;line-height:52px;letter-spacing:-0.02em;}}.css-b38fae:before{content:"7.";width:50px;text-align:right;position:absolute;left:-74px;}@media
      (min-width: 600px){.css-b38fae:before{left:-82px;}}</style><style
      data-emotion="css 1rs2x3k"
      data-s=""
    >.css-1rs2x3k{position:relative;}.css-1rs2x3k:before{content:"8.";width:50px;text-align:right;position:absolute;left:-74px;}@media
      (min-width: 600px){.css-1rs2x3k:before{left:-82px;}}</style><style
      data-emotion="css zrvpyq"
      data-s=""
    >.css-zrvpyq{color:#DCE9FF;font-weight:600;white-space:pre-line;font-size:32px;line-height:41px;letter-spacing:-0.01em;margin-bottom:16px;position:relative;}.css-zrvpyq
      strong{word-break:break-all;}@media (min-width:
      600px){.css-zrvpyq{font-size:40px;line-height:52px;letter-spacing:-0.02em;}}.css-zrvpyq:before{content:"8.";width:50px;text-align:right;position:absolute;left:-74px;}@media
      (min-width: 600px){.css-zrvpyq:before{left:-82px;}}</style><style
      data-emotion="css bccqir"
      data-s=""
    >.css-bccqir{position:relative;}.css-bccqir:before{content:"9.";width:50px;text-align:right;position:absolute;left:-74px;}@media
      (min-width: 600px){.css-bccqir:before{left:-82px;}}</style><style
      data-emotion="css 1fswyqm"
      data-s=""
    >.css-1fswyqm{color:#DCE9FF;font-weight:600;white-space:pre-line;font-size:32px;line-height:41px;letter-spacing:-0.01em;margin-bottom:16px;position:relative;}.css-1fswyqm
      strong{word-break:break-all;}@media (min-width:
      600px){.css-1fswyqm{font-size:40px;line-height:52px;letter-spacing:-0.02em;}}.css-1fswyqm:before{content:"9.";width:50px;text-align:right;position:absolute;left:-74px;}@media
      (min-width: 600px){.css-1fswyqm:before{left:-82px;}}</style><style
      data-emotion="css 14l6f1y"
      data-s=""
    >.css-14l6f1y{color:#DCE9FF;padding-left:32px;margin:0;}</style><style
      data-emotion="css v3eloo"
      data-s=""
    >.css-v3eloo{color:#DCE9FF;font-weight:400;white-space:pre-line;font-size:20px;line-height:32px;letter-spacing:-0.01em;font-weight:400;}@media
      (min-width:
      600px){.css-v3eloo{font-size:24px;line-height:40px;letter-spacing:-0.01em;}}</style><style
      data-emotion="css 1e1kmpx"
      data-s=""
    >.css-1e1kmpx{position:relative;}.css-1e1kmpx:before{content:"10.";width:50px;text-align:right;position:absolute;left:-74px;}@media
      (min-width: 600px){.css-1e1kmpx:before{left:-82px;}}</style><style
      data-emotion="css 150u0xb"
      data-s=""
    >.css-150u0xb{color:#DCE9FF;font-weight:600;white-space:pre-line;font-size:32px;line-height:41px;letter-spacing:-0.01em;margin-bottom:16px;position:relative;}.css-150u0xb
      strong{word-break:break-all;}@media (min-width:
      600px){.css-150u0xb{font-size:40px;line-height:52px;letter-spacing:-0.02em;}}.css-150u0xb:before{content:"10.";width:50px;text-align:right;position:absolute;left:-74px;}@media
      (min-width: 600px){.css-150u0xb:before{left:-82px;}}</style><style
      data-emotion="css m43bkg"
      data-s=""
    >.css-m43bkg{margin-left:auto;margin-right:auto;padding-bottom:100px;padding-top:100px;max-width:2280px;background-color:unset;}@media
      screen and (min-width:
      600px){.css-m43bkg{padding-top:120px;padding-bottom:120px;}}</style><style
      data-emotion="css 9f6j4z"
      data-s=""
    >.css-9f6j4z{color:#080f1a;font-weight:400;white-space:pre-line;font-size:20px;line-height:32px;letter-spacing:-0.01em;margin-top:20px;margin-bottom:0;font-weight:400;text-align:center;}@media
      (min-width:
      600px){.css-9f6j4z{font-size:24px;line-height:32px;letter-spacing:-0.02em;}}</style><style
      data-emotion="css mqf10l"
      data-s=""
    >.css-mqf10l{background-color:transparent;max-width:1300px;margin-right:auto;margin-left:auto;margin-bottom:60px;overflow:hidden;padding-top:0;}@media
      (min-width: 600px){.css-mqf10l{margin-bottom:80px;overflow:auto;}}@media
      (min-width: 1200px){.css-mqf10l{padding-top:0;}}</style><style
      data-emotion="css 8v6kk0"
      data-s=""
    >.css-8v6kk0{display:grid;grid-template-columns:100%;grid-gap:24px;}@media
      (min-width:
      1200px){.css-8v6kk0{grid-gap:32px;grid-template-columns:repeat(12,
      1fr);-webkit-align-self:center;-ms-flex-item-align:center;align-self:center;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;}.css-8v6kk0
      >div:first-of-type{grid-column:1/span 5;}.css-8v6kk0
      >div:last-of-type{grid-column:6/span
      7;}}.css-8v6kk0:last-of-type{margin-bottom:0;}</style><style
      data-emotion="css mil58u"
      data-s=""
    >@media (min-width: 1400px){.css-mil58u{padding-left:70px;}}</style><style
      data-emotion="css 1p8e36t"
      data-s=""
    >.css-1p8e36t{color:#080f1a;font-weight:600;white-space:pre-line;font-size:32px;line-height:41px;letter-spacing:-0.01em;margin-bottom:20px;}.css-1p8e36t
      strong{word-break:break-all;}@media (min-width:
      600px){.css-1p8e36t{font-size:40px;line-height:52px;letter-spacing:-0.02em;}}</style><style
      data-emotion="css 1pdoxkl"
      data-s=""
    >.css-1pdoxkl{color:#080f1a;font-weight:400;white-space:pre-line;font-size:20px;line-height:32px;letter-spacing:-0.01em;margin-top:0;margin-bottom:28px;font-weight:400;}@media
      (min-width:
      600px){.css-1pdoxkl{font-size:24px;line-height:32px;letter-spacing:-0.02em;}}</style><style
      data-emotion="css 1c7ztne"
      data-s=""
    >.css-1c7ztne{margin:0;padding-left:20px;margin-bottom:40px;}.css-1c7ztne
      li{margin-bottom:16px;}.css-1c7ztne li:last-child{margin-bottom:0;}</style><style
      data-emotion="css 1t91sv4"
      data-s=""
    >.css-1t91sv4{color:#080f1a;font-weight:400;white-space:pre-line;font-size:16px;line-height:24px;letter-spacing:-0.01em;font-weight:400;}@media
      (min-width:
      600px){.css-1t91sv4{font-size:20px;line-height:32px;letter-spacing:-0.01em;}}</style><style
      data-emotion="css 15fm9zq"
      data-s=""
    >.css-15fm9zq{display:-webkit-inline-box;display:-webkit-inline-flex;display:-ms-inline-flexbox;display:inline-flex;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;padding:0;border-radius:4px;-webkit-print-color-scheme:#303f9f;color-scheme:#303f9f;cursor:pointer;-webkit-text-decoration:none;text-decoration:none;font-size:20px;line-height:32px;letter-spacing:-0.01em;font-weight:500;height:-webkit-fit-content;height:-moz-fit-content;height:fit-content;min-height:52px;padding:10px
      32px;background:transparent;border:2px solid
      #0566ff;color:#0566ff;pointer-events:unset;text-align:left;min-width:220px;font-weight:500;background:transparent;border:1px
      solid
      transparent;color:#080f1a;padding-left:0;padding-right:0;font-weight:500;min-width:auto;height:auto;color:#0566ff;display:inline-block;}.css-15fm9zq:hover{color:#ffffff;background:#080f1a;border:2px
      solid
      #080f1a;}.css-15fm9zq:active{color:#ffffff;background:#080f1a;border:2px
      solid #080f1a;}.css-15fm9zq:hover
      span:after{margin-left:12px;-webkit-transition:margin-left 0.2s
      ease-out;transition:margin-left 0.2s
      ease-out;}.css-15fm9zq:hover,.css-15fm9zq:active{color:#080f1a;background:transparent;border:1px
      solid
      transparent;-webkit-text-decoration:underline;text-decoration:underline;}.css-15fm9zq:hover,.css-15fm9zq:active{color:#0566ff;}</style><style
      data-emotion="css 1e0ssf7"
      data-s=""
    >.css-1e0ssf7:after{content:"";background:url("/images/arrow-right.svg");-webkit-background-size:contain;background-size:contain;background-repeat:no-repeat;-webkit-background-position:center;background-position:center;display:inline-block;vertical-align:bottom;margin-bottom:1px;-webkit-transition:margin-left
      0.3s ease;transition:margin-left 0.3s
      ease;}.css-1e0ssf7:after{margin-left:8px;width:28px;height:28px;}</style><style
      data-emotion="css 8tn74k"
      data-s=""
    >.css-8tn74k{position:relative;margin-left:-16px;width:100vw;height:auto;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;}@media
      (min-width:
      600px){.css-8tn74k{margin-left:auto;margin-right:auto;width:100%;}}</style><style
      data-emotion="css gfjjgi"
      data-s=""
    >.css-gfjjgi{box-sizing:border-box;min-width:0;height:430px;width:580px;position:relative;}@media
      screen and (min-width: 600px){.css-gfjjgi{height:660px;}}</style><style
      data-emotion="css v6j6a3"
      data-s=""
    >.css-v6j6a3{display:grid;grid-template-columns:100%;grid-gap:24px;}@media
      (min-width:
      1200px){.css-v6j6a3{grid-gap:32px;grid-template-columns:repeat(12,
      1fr);-webkit-align-self:center;-ms-flex-item-align:center;align-self:center;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;}.css-v6j6a3
      >div:first-of-type{grid-column:8/span 5;}.css-v6j6a3
      >div:last-of-type{grid-column:1/span
      7;-webkit-order:-1;-ms-flex-order:-1;order:-1;}}.css-v6j6a3:last-of-type{margin-bottom:0;}</style><style
      data-emotion="css z12hde"
      data-s=""
    >@media (min-width: 1400px){.css-z12hde{padding-right:70px;}}</style><style
      data-emotion="css 1ea3wdv"
      data-s=""
    >.css-1ea3wdv{margin-left:auto;margin-right:auto;padding-bottom:100px;max-width:2280px;overflow:hidden;background-color:unset;}@media
      screen and (min-width: 905px){.css-1ea3wdv{padding-bottom:120px;}}</style><style
      data-emotion="css 1tyxkiu"
      data-s=""
    >.css-1tyxkiu{margin-bottom:20px;}@media (min-width:
      600px){.css-1tyxkiu{margin-bottom:20px;}}@media (min-width:
      1200px){.css-1tyxkiu{display:grid;grid-template-columns:repeat(12,
      1fr);grid-column-gap:32px;}.css-1tyxkiu p{grid-column:2/span
      10;}.css-1tyxkiu h2{grid-column:2/span 10;}}</style><style
      data-emotion="css 1tx1ksl"
      data-s=""
    >.css-1tx1ksl{box-sizing:border-box;min-width:0;margin-bottom:60px;text-align:center;}@media
      screen and (min-width: 905px){.css-1tx1ksl{margin-bottom:80px;}}</style><style
      data-emotion="css 1gn9ie4"
      data-s=""
    >.css-1gn9ie4{border:none;background:transparent;padding:0;text-align:left;font-size:20px;line-height:32px;letter-spacing:-0.01em;font-weight:500;color:#080f1a;padding:14px
      0;width:128px;text-align:center;cursor:pointer;border-bottom:4px solid
      #0566ff;}</style><style
      data-emotion="css 1bg436b"
      data-s=""
    >.css-1bg436b{border:none;background:transparent;padding:0;text-align:left;font-size:20px;line-height:32px;letter-spacing:-0.01em;font-weight:500;color:#080f1a;padding:14px
      0;width:128px;text-align:center;cursor:pointer;}</style><style
      data-emotion="css ugz6la"
      data-s=""
    >.css-ugz6la{box-sizing:border-box;min-width:0;display:block;}</style><style
      data-emotion="css 1engezc"
      data-s=""
    >@media (min-width:
      1200px){.css-1engezc{position:relative;}.css-1engezc:before{content:"";position:absolute;height:545px;top:50%;-webkit-transform:translateY(-50%);-moz-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);width:100%;background-color:#ffc859;z-index:-1;}}</style><style
      data-emotion="css 1uv0aah"
      data-s=""
    >.css-1uv0aah{box-sizing:border-box;min-width:0;}@media (min-width:
      905px){.css-1uv0aah{display:grid;grid-template-columns:1fr
      1fr;grid-column-gap:32px;}}@media (min-width:
      1200px){.css-1uv0aah{min-height:597px;grid-template-columns:repeat(12,
      1fr);}}</style><style data-emotion="css 89sxmu" data-s="">@media
      (min-width: 600px){.css-89sxmu{max-width:487px;margin:0 auto;}}@media
      (min-width:
      1200px){.css-89sxmu{max-width:initial;margin:initial;grid-column:1/span
      6;background-color:#ffffff;display:grid;grid-template-columns:1fr 4fr
      1fr;grid-template-areas:". list .";}.css-89sxmu>div{grid-area:list;}}</style><style
      data-emotion="css 1utrizk"
      data-s=""
    >.css-1utrizk{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;}</style><style
      data-emotion="css 8tn0p7"
      data-s=""
    >.css-8tn0p7{box-sizing:border-box;min-width:0;position:relative;}</style><style
      data-emotion="css 6vwyb4"
      data-s=""
    >.css-6vwyb4{border:2px solid
      #0566ff;border-radius:50%;width:30px;height:30px;top:calc(50% -
      13px);left:0;position:absolute;}.css-6vwyb4:after{content:"";position:absolute;width:12px;height:12px;top:50%;left:50%;-webkit-transform:translate(-50%,
      -50%);-moz-transform:translate(-50%, -50%);-ms-transform:translate(-50%,
      -50%);transform:translate(-50%,
      -50%);background-color:#0566ff;border-radius:50%;z-index:2;}</style><style
      data-emotion="css 1q0jz03"
      data-s=""
    >.css-1q0jz03{border:none;background:transparent;padding:0;text-align:left;cursor:pointer;font-size:16px;line-height:24px;letter-spacing:-0.01em;font-weight:500;color:#0566ff;padding-left:50px;position:relative;margin-top:17px;margin-bottom:17px;margin-left:0;}@media
      (min-width:
      600px){.css-1q0jz03{font-size:20px;line-height:32px;letter-spacing:-0.01em;}}.css-1q0jz03:hover{-webkit-text-decoration:underline;text-decoration:underline;}.css-1q0jz03:before,.css-1q0jz03:after{content:"";position:absolute;display:block;left:14px;width:2px;height:50%;background-image:url("/images/shared/border-dash.svg");background-repeat:repeat-y;}.css-1q0jz03:before{top:-17px;height:calc(50%
      + 4px);background:unset;}.css-1q0jz03:after{top:calc(50% +
      17px);-webkit-background-position:center bottom
      -4px;background-position:center bottom -4px;}</style><style
      data-emotion="css ql67yl animation-118w4uk"
      data-s=""
    >.css-ql67yl{box-sizing:border-box;min-width:0;display:block;position:relative;}@media
      screen and (min-width:
      905px){.css-ql67yl{display:none;}}.css-ql67yl>div{-webkit-animation:animation-118w4uk
      0.7s ease-in;animation:animation-118w4uk 0.7s ease-in;}@media (min-width:
      600px){.css-ql67yl>div{width:344px;margin:0
      auto;}}.css-ql67yl:before{content:"";position:absolute;left:14px;height:100%;border-left:2px
      dashed #ACB8CB;z-index:1;}@-webkit-keyframes
      animation-118w4uk{from{opacity:0;}to{opacity:1;}}@keyframes
      animation-118w4uk{from{opacity:0;}to{opacity:1;}}</style><style
      data-emotion="css 4m3swi"
      data-s=""
    >.css-4m3swi{box-sizing:border-box;min-width:0;width:100%;max-width:488px;}</style><style
      data-emotion="css 1720823"
      data-s=""
    >.css-1720823{border:2px solid
      #080f1a;border-radius:50%;width:30px;height:30px;top:calc(50% -
      13px);left:0;position:absolute;}.css-1720823:after{content:"";position:absolute;width:12px;height:12px;top:50%;left:50%;-webkit-transform:translate(-50%,
      -50%);-moz-transform:translate(-50%, -50%);-ms-transform:translate(-50%,
      -50%);transform:translate(-50%,
      -50%);background-color:#080f1a;border-radius:50%;z-index:2;}</style><style
      data-emotion="css 8wmhju"
      data-s=""
    >.css-8wmhju{border:none;background:transparent;padding:0;text-align:left;cursor:pointer;font-size:16px;line-height:24px;letter-spacing:-0.01em;font-weight:500;color:#080f1a;padding-left:50px;position:relative;margin-top:17px;margin-bottom:17px;margin-left:0;}@media
      (min-width:
      600px){.css-8wmhju{font-size:20px;line-height:32px;letter-spacing:-0.01em;}}.css-8wmhju:hover{-webkit-text-decoration:underline;text-decoration:underline;}.css-8wmhju:before,.css-8wmhju:after{content:"";position:absolute;display:block;left:14px;width:2px;height:50%;background-image:url("/images/shared/border-dash.svg");background-repeat:repeat-y;}.css-8wmhju:before{top:-13px;}.css-8wmhju:after{top:calc(50%
      + 17px);-webkit-background-position:center bottom
      -4px;background-position:center bottom -4px;}</style><style
      data-emotion="css 11ukh1a"
      data-s=""
    >.css-11ukh1a{border:none;background:transparent;padding:0;text-align:left;cursor:pointer;font-size:16px;line-height:24px;letter-spacing:-0.01em;font-weight:500;color:#080f1a;padding-left:50px;position:relative;margin-top:17px;margin-bottom:17px;margin-left:0;}@media
      (min-width:
      600px){.css-11ukh1a{font-size:20px;line-height:32px;letter-spacing:-0.01em;}}.css-11ukh1a:hover{-webkit-text-decoration:underline;text-decoration:underline;}.css-11ukh1a:before,.css-11ukh1a:after{content:"";position:absolute;display:block;left:14px;width:2px;height:50%;background-image:url("/images/shared/border-dash.svg");background-repeat:repeat-y;}.css-11ukh1a:before{top:-13px;}.css-11ukh1a:after{top:calc(50%
      + 17px);-webkit-background-position:center bottom
      -4px;background-position:center bottom -4px;background:unset;}</style><style
      data-emotion="css 1s31z32 animation-118w4uk"
      data-s=""
    >.css-1s31z32{box-sizing:border-box;min-width:0;display:none;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;}@media
      screen and (min-width:
      905px){.css-1s31z32{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;}}@media
      (min-width: 1200px){.css-1s31z32{grid-column:8/span
      5;position:relative;}.css-1s31z32:before{content:"";position:absolute;left:-32px;height:597px;width:786px;background-image:url(/images/installation/image-browser.svg);-webkit-background-size:contain;background-size:contain;border-radius:10px;box-shadow:0px
      12px 32px rgba(0, 27, 71,
      0.12);}}.css-1s31z32>div{-webkit-animation:animation-118w4uk 0.7s
      ease-in;animation:animation-118w4uk 0.7s ease-in;}@media (min-width:
      1200px){.css-1s31z32>div{margin-top:53px;}}@-webkit-keyframes
      animation-118w4uk{from{opacity:0;}to{opacity:1;}}@keyframes
      animation-118w4uk{from{opacity:0;}to{opacity:1;}}</style><style
      data-emotion="css 17yudp9"
      data-s=""
    >.css-17yudp9{box-sizing:border-box;min-width:0;display:none;}</style><style
      data-emotion="css 1w1n88e"
      data-s=""
    >.css-1w1n88e{margin-left:auto;margin-right:auto;padding-bottom:100px;padding-top:100px;max-width:2280px;background-color:#EFF2F6;}@media
      screen and (min-width:
      600px){.css-1w1n88e{padding-top:124px;padding-bottom:124px;}}</style><style
      data-emotion="css da0qaa"
      data-s=""
    >.css-da0qaa{box-sizing:border-box;min-width:0;overflow:hidden;width:100%;position:relative;max-width:1600px;margin:-60px
      auto;padding:60px 0;}@media (min-width:
      600px){.css-da0qaa::before,.css-da0qaa::after{content:"";height:100%;position:absolute;width:300px;z-index:1;top:0;}.css-da0qaa::after{right:-2px;-webkit-transform:rotateZ(180deg);-moz-transform:rotateZ(180deg);-ms-transform:rotateZ(180deg);transform:rotateZ(180deg);}.css-da0qaa::before{left:-2px;}}@media
      (min-width:
      600px){.css-da0qaa::before,.css-da0qaa::after{background:linear-gradient(90deg,
      #EFF2F6 0%, rgba(239, 242, 246, 0) 100%);}}</style><style
      data-emotion="css lq3org animation-1pbkwz5 animation-1mfkejt"
      data-s=""
    >.css-lq3org{box-sizing:border-box;min-width:0;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;width:calc(180px
      * 7 * 2);-webkit-animation:30s linear infinite
      animation-1mfkejt;animation:30s linear infinite
      animation-1mfkejt;}.css-lq3org>div{margin-right:32px;}@media (min-width:
      1200px){.css-lq3org{-webkit-animation-name:animation-1pbkwz5;animation-name:animation-1pbkwz5;width:calc(208px
      * 7 *
      2);-webkit-animation-duration:100s;animation-duration:100s;}}@-webkit-keyframes
      animation-1pbkwz5{0%{-webkit-transform:translateX(0);-moz-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0);}100%{-webkit-transform:translateX(calc(-1
      * 208px * 7));-moz-transform:translateX(calc(-1 * 208px *
      7));-ms-transform:translateX(calc(-1 * 208px *
      7));transform:translateX(calc(-1 * 208px * 7));}}@keyframes
      animation-1pbkwz5{0%{-webkit-transform:translateX(0);-moz-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0);}100%{-webkit-transform:translateX(calc(-1
      * 208px * 7));-moz-transform:translateX(calc(-1 * 208px *
      7));-ms-transform:translateX(calc(-1 * 208px *
      7));transform:translateX(calc(-1 * 208px * 7));}}@-webkit-keyframes
      animation-1mfkejt{0%{-webkit-transform:translateX(0);-moz-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0);}100%{-webkit-transform:translateX(calc(-1
      * 180px * 7));-moz-transform:translateX(calc(-1 * 180px *
      7));-ms-transform:translateX(calc(-1 * 180px *
      7));transform:translateX(calc(-1 * 180px * 7));}}@keyframes
      animation-1mfkejt{0%{-webkit-transform:translateX(0);-moz-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0);}100%{-webkit-transform:translateX(calc(-1
      * 180px * 7));-moz-transform:translateX(calc(-1 * 180px *
      7));-ms-transform:translateX(calc(-1 * 180px *
      7));transform:translateX(calc(-1 * 180px * 7));}}</style><style
      data-emotion="css f0qtin"
      data-s=""
    >.css-f0qtin{background:#ffffff;position:relative;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;box-shadow:0
      28px 40px 0 rgba(0, 18, 46,
      0.15);height:148px;width:148px;border-radius:60px;padding:39px;}@media
      (min-width:
      600px){.css-f0qtin{height:176px;width:176px;border-radius:75px;box-shadow:0px
      20px 52px 0px rgba(0, 27, 71, 0.2);}}</style><style
      data-emotion="css 1wzkbvb"
      data-s=""
    >.css-1wzkbvb{box-sizing:border-box;min-width:0;width:98px;height:98px;position:relative;}</style><style
      data-emotion="css hhcaa4"
      data-s=""
    >.css-hhcaa4{margin-bottom:100px;margin-left:auto;margin-right:auto;margin-top:100px;max-width:2280px;background-color:unset;}@media
      screen and (min-width:
      600px){.css-hhcaa4{margin-top:120px;margin-bottom:120px;}}</style><style
      data-emotion="css 9e56nl"
      data-s=""
    >.css-9e56nl{display:grid;grid-template-columns:1fr;grid-gap:32px;width:-webkit-fit-content;width:-moz-fit-content;width:fit-content;margin:auto;}@media
      (min-width: 600px){.css-9e56nl{grid-template-columns:repeat(2, 1fr);}}</style><style
      data-emotion="css in37pj"
      data-s=""
    >.css-in37pj{max-width:488px;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:stretch;-ms-flex-pack:stretch;-webkit-justify-content:stretch;justify-content:stretch;-webkit-align-items:stretch;-webkit-box-align:stretch;-ms-flex-align:stretch;align-items:stretch;position:relative;box-shadow:0px
      12px 32px rgba(0, 27, 71, 0.12);border-radius:8px;overflow:hidden;}</style><style
      data-emotion="css er3ogc"
      data-s=""
    >.css-er3ogc{width:100%;max-width:100%;padding:32px 32px 32px 40px;}</style><style
      data-emotion="css pxavto"
      data-s=""
    >.css-pxavto{color:#080f1a;font-weight:600;white-space:pre-line;font-size:32px;line-height:41px;letter-spacing:-0.01em;}.css-pxavto
      strong{word-break:break-all;}@media (min-width:
      600px){.css-pxavto{font-size:40px;line-height:52px;letter-spacing:-0.02em;}}</style><style
      data-emotion="css 1jkeipr"
      data-s=""
    >.css-1jkeipr{margin:12px 0 0
      0;font-size:24px;line-height:32px;letter-spacing:-0.01em;}@media
      (min-width:
      600px){.css-1jkeipr{font-size:32px;line-height:41px;letter-spacing:-0.01em;}}.css-1jkeipr
      em{font-size:20px;line-height:32px;letter-spacing:-0.01em;font-style:normal;}.css-1jkeipr
      p{margin:0;}</style><style
      data-emotion="css jolfix"
      data-s=""
    >.css-jolfix{color:#080f1a;font-weight:400;white-space:pre-line;font-size:16px;line-height:24px;letter-spacing:-0.01em;margin:0;margin-top:12px;font-weight:400;}</style><style
      data-emotion="css 15zctq0"
      data-s=""
    >.css-15zctq0{display:none;}@media (min-width:
      1400px){.css-15zctq0{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;position:relative;border-top-right-radius:8px;border-bottom-right-radius:8px;min-width:180px;height:100%;}}</style><style
      data-emotion="css il67ac"
      data-s=""
    >.css-il67ac{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;margin-top:40px;}</style><style
      data-emotion="css 117grt0"
      data-s=""
    >.css-117grt0{max-width:810px;}</style><style
      data-emotion="css 1n8oc4u"
      data-s=""
    >.css-1n8oc4u{color:#080f1a;-webkit-class-name:css-117grt0
      e87yb910;class-name:css-117grt0
      e87yb910;font-weight:400;white-space:pre-line;font-size:20px;line-height:32px;letter-spacing:-0.01em;margin-top:20px;margin-bottom:0;font-weight:400;text-align:center;max-width:810px;}@media
      (min-width:
      600px){.css-1n8oc4u{font-size:24px;line-height:32px;letter-spacing:-0.02em;}}</style><style
      data-emotion="css c9ivha"
      data-s=""
    >.css-c9ivha{background:#001B47;text-align:center;max-width:100%;will-change:width;margin:0
      auto;padding:64px 0;}@media (min-width: 600px){.css-c9ivha{padding:140px
      0;}}@media (min-width: 1200px){.css-c9ivha{width:70%;}}</style><style
      data-emotion="css zqf9l"
      data-s=""
    >.css-zqf9l{overflow-wrap:break-word;margin:0 auto 52px auto;padding:0
      32px;}.css-zqf9l>*{margin:0;}.css-zqf9l>*+*{margin-top:20px;}@media
      (min-width: 600px){.css-zqf9l{padding:0;max-width:520px;}}@media
      (min-width: 1200px){.css-zqf9l{max-width:736px;}}@media (min-width:
      1400px){.css-zqf9l{max-width:936px;}}</style><style
      data-emotion="css 1gwbklc"
      data-s=""
    >.css-1gwbklc{color:#DCE9FF;font-weight:600;white-space:pre-line;font-size:40px;line-height:52px;letter-spacing:-0.02em;font-weight:400;}.css-1gwbklc
      strong{word-break:break-all;}@media (min-width:
      600px){.css-1gwbklc{font-size:52px;line-height:64px;letter-spacing:-0.03em;}}</style><style
      data-emotion="css octfoh"
      data-s=""
    >.css-octfoh{display:-webkit-inline-box;display:-webkit-inline-flex;display:-ms-inline-flexbox;display:inline-flex;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;padding:0;border-radius:4px;-webkit-print-color-scheme:#303f9f;color-scheme:#303f9f;cursor:pointer;-webkit-text-decoration:none;text-decoration:none;font-size:20px;line-height:32px;letter-spacing:-0.01em;font-weight:500;height:-webkit-fit-content;height:-moz-fit-content;height:fit-content;min-height:52px;padding:10px
      32px;background:#0566ff;border:2px solid
      #0566ff;color:#ffffff;pointer-events:unset;text-align:center;min-width:220px;font-weight:500;}.css-octfoh:hover{color:#080f1a;background:#ffc859;border:2px
      solid
      #ffc859;}.css-octfoh:active{color:#080f1a;background:#ffc859;border:2px
      solid #ffc859;}.css-octfoh:hover
      span:after{margin-left:12px;-webkit-transition:margin-left 0.2s
      ease-out;transition:margin-left 0.2s ease-out;}</style><style
      data-emotion="css y58p13"
      data-s=""
    >.css-y58p13{padding:100px 0 130px;}@media screen and (min-width:
      600px){.css-y58p13{padding:100px 0 90px;}}@media screen and (min-width:
      1200px){.css-y58p13{padding:100px 0;}}</style><style
      data-emotion="css 6hlo3x"
      data-s=""
    >@media (min-width:
      1200px){.css-6hlo3x{display:grid;grid-template-columns:4fr 8fr;}}</style><style
      data-emotion="css 1xquo14"
      data-s=""
    >.css-1xquo14{width:100%;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:start;-ms-flex-pack:start;-webkit-justify-content:flex-start;justify-content:flex-start;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;border-bottom:2px
      solid #EFF2F6;padding-bottom:36px;}@media (min-width:
      1200px){.css-1xquo14{width:75%;padding-bottom:unset;border-bottom:unset;margin-bottom:unset;}}</style><style
      data-emotion="css 18mxxa1"
      data-s=""
    >.css-18mxxa1{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;margin-bottom:20px;}@media
      (min-width:
      600px){.css-18mxxa1{-webkit-align-self:flex-start;-ms-flex-item-align:flex-start;align-self:flex-start;margin-bottom:26px;}}@media
      (min-width: 1200px){.css-18mxxa1{margin-bottom:20px;}}</style><style
      data-emotion="css jj2csd"
      data-s=""
    >.css-jj2csd{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;}@media
      (min-width:
      600px){.css-jj2csd{-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-box-pack:justify;-webkit-justify-content:space-between;justify-content:space-between;width:100%;}}@media
      (min-width:
      1200px){.css-jj2csd{-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-align-items:flex-start;-webkit-box-align:flex-start;-ms-flex-align:flex-start;align-items:flex-start;}}</style><style
      data-emotion="css 9e4sqz"
      data-s=""
    >.css-9e4sqz{color:#647491;font-weight:400;white-space:pre-line;font-size:16px;line-height:24px;letter-spacing:-0.01em;margin:0;font-weight:400;}</style><style
      data-emotion="css 13y9dg4"
      data-s=""
    >.css-13y9dg4{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;}@media
      (min-width:
      600px){.css-13y9dg4{-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;}}@media
      (min-width:
      1200px){.css-13y9dg4{width:100%;padding-top:16px;margin-top:36px;border-top:2px
      solid
      #EFF2F6;-webkit-box-pack:justify;-webkit-justify-content:space-between;justify-content:space-between;}}</style><style
      data-emotion="css 1t0344f"
      data-s=""
    >.css-1t0344f{color:#080f1a;font-size:16px;line-height:24px;letter-spacing:-0.01em;-webkit-text-decoration:none;text-decoration:none;margin-top:6px;margin-bottom:20px;}.css-1t0344f:hover{-webkit-text-decoration:underline;text-decoration:underline;}@media
      (min-width:
      600px){.css-1t0344f{margin-top:0;margin-bottom:0;margin-right:24px;}}</style><style
      data-emotion="css pr93wy"
      data-s=""
    >.css-pr93wy{position:relative;}.css-pr93wy:hover{cursor:pointer;}</style><style
      data-emotion="css qsbcuv"
      data-s=""
    >.css-qsbcuv{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-box-pack:justify;-webkit-justify-content:space-between;justify-content:space-between;border-radius:4px;padding:8px;background-color:transparent;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;}</style><style
      data-emotion="css 14epytg"
      data-s=""
    >.css-14epytg{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;margin-right:6px;}</style><style
      data-emotion="css 11yd86g"
      data-s=""
    >.css-11yd86g{color:#647491;font-weight:400;white-space:pre-line;font-size:14px;line-height:18px;letter-spacing:-0.01em;margin:0;font-weight:400;}</style><style
      data-emotion="css 1tlqbf8"
      data-s=""
    >.css-1tlqbf8{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;margin-left:6px;}</style><style
      data-emotion="css g0a7oe"
      data-s=""
    >.css-g0a7oe{position:absolute;z-index:999999;width:100%;margin-top:5px;}</style><style
      data-emotion="css s8rg2d"
      data-s=""
    >.css-s8rg2d{display:grid;grid-template-columns:1fr
      1fr;grid-column-gap:32px;grid-row-gap:38px;width:100%;}@media (min-width:
      905px){.css-s8rg2d{grid-template-columns:1fr 1fr 1fr 1fr;}}@media
      (max-width: 1200px){.css-s8rg2d{margin-top:48px;}}</style><style
      data-emotion="css 1lszvqf"
      data-s=""
    >.css-1lszvqf ul{padding-left:0;margin:0;list-style:none;}.css-1lszvqf
      li{line-height:1;margin-top:14px;}</style><style
      data-emotion="css 50zrmy"
      data-s=""
    >.css-50zrmy{text-transform:uppercase;}</style><style
      data-emotion="css xusnei"
      data-s=""
    >.css-xusnei{color:#080f1a;-webkit-class-name:css-50zrmy
      e1d0e01r0;class-name:css-50zrmy
      e1d0e01r0;font-weight:600;white-space:pre-line;font-size:16px;line-height:24px;letter-spacing:-0.01em;font-weight:600;text-transform:uppercase;}</style><style
      data-emotion="css f1xcyt"
      data-s=""
    >.css-f1xcyt{-webkit-text-decoration:none;text-decoration:none;color:#080f1a;font-weight:400;font-size:16px;line-height:24px;letter-spacing:-0.01em;}.css-f1xcyt:hover{-webkit-text-decoration:underline;text-decoration:underline;}</style><style
      data-emotion="css"
      data-s=""
    ></style>
    <link rel="stylesheet" href="/css/home.css" />
  </head>
  <body>
    {{{body}}}
  </body>
</html>