<html lang="en" style="min-height: 1868px;">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Result Portal</title>

    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
      rel="stylesheet"
    />
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
    {{! d }}
    <meta
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
      name="viewport"
    />
    <link rel="stylesheet" href="/css/results/pace.css" />
    <script type="text/javascript" src="/css/results/jquery.min.js.download"></script>
    <script type="text/javascript" src="/css/results/toastr.min.js.download"></script>
    <link href="/css/results/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/results/font-awesome.css" rel="stylesheet" />
    <link href="/css/results/icomoon.css" rel="stylesheet" />
    <link href="/css/results/ini-icon.css" rel="stylesheet" />
    <link href="/css/results/dataTables.bootstrap.css" rel="stylesheet" />
    <link id="headStyleCSSLink" href="/css/results/style-main.css" rel="stylesheet" />
    <link href="/css/results/hidetable.css" rel="stylesheet" />
    <link href="/css/results/inilabs.css" rel="stylesheet" />
    <link id="headInilabsCSSLink" href="/css/results/inilabs(1).css" rel="stylesheet" />
    <link href="/css/results/responsive.css" rel="stylesheet" />
    <link href="/css/results/toastr.min.css" rel="stylesheet" />
    <link href="/css/results/mailandmedia.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/results/buttons.dataTables.min.css" />
    <link rel="stylesheet" href="/css/results/combined.css" />
    <link rel="stylesheet" href="/css/results/ajaxloder.css" />
    <link rel="stylesheet" href="/css/results/select2.css" />
    <link rel="stylesheet" href="/css/results/select2-bootstrap.css" />
    <link rel="stylesheet" href="/css/results/jquery.mCustomScrollbar.css" />

    {{! Mine }}
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/result.css" />
    {{!-- <script type="text/javascript" src="/jquery.mCustomScrollbar.concat.min.js.download"></script> --}}
    <script type="text/javascript">
      $(window).load(function() { $(".se-pre-con").fadeOut("slow");; });
    </script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>