<div class="card home-page flex">
  <h1>Welcome to Result Portal</h1>
  <div class="link">
    <nav>
      <ul class="flex mobile">
        <li><a class="btn" href="/login/admin">Login as an Admin</a></li>
        <li><a class="btn" href="/login/teacher">Login as a Teacher</a></li>
      </ul>
    </nav>
  </div>
</div>