<div id="app">
  <div
    class="authGridContainer authGridContainer--fullScreen authGridContainer--login"
  >
    <a
      class="authGrid__logo font"
      href="/"
      target="_self"
      aria-label="Link to main page"
      tabindex="0"
    ><img
        src="/images/logo.png"
        alt="school_logo"
        height="50px"
        width="50px"
        class="logo"
      /></a>
    <div class="authGridColumn authGridColumn--callToActionParent">
      <div class="createFreeAccount">
        <span class="createFreeAccount__text font">Welcome!!</span>
        <a
          class="createFreeAccount__button font"
          tabindex="0"
          href="/contact"
        >Contact</a>
      </div>
    </div>
    <div class="authGridColumn authGridColumn--formParent">
      <div class="formContainer loginForm">
        <form class="form" action="/login" method="POST">
          <fieldset class="form__area">
            <h1 class="form__header" aria-level="1">Log In</h1>
          </fieldset>
          <fieldset class="form__area">
            <fieldset class="formInputContainer">
              <input
                class="formInputContainer__textInput"
                type="text"
                placeholder="Username"
                aria-label="Username input field"
                autocomplete="autocomplete"
                name="username"
              />
            </fieldset>
            <fieldset class="formInputContainer">
              <div class="css-lo9wpn e1ucx7br0">
                <input
                  class="formInputContainer__textInput"
                  type="password"
                  placeholder="Password"
                  aria-label="Password input field"
                  autocomplete="autocomplete"
                  name="password"
                  id="pass"
                />
                <button
                  type="button"
                  tabindex="-1"
                  class="css-1bcwkbe e1ucx7br1"
                  id="hide"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="24"
                    viewBox="0 0 24 24"
                    width="24"
                  ><path d="M0 0h24v24H0z" fill="none"></path><path
                      d="M12 4.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5zM12 17c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5zm0-8c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3z"
                    ></path>
                  </svg>
                </button>
              </div>
            </fieldset>
          </fieldset>
          <fieldset class="form__area">
            {{#if error}}
              <span class="form__formAlert form__formAlert--error">
                {{error}}
              </span>
            {{/if}}
            <button class="form__button" type="submit" tabindex="0">Log In</button>
            <a
              class="form__pageLink form__pageLink--inFooter"
              href="/users/forgot-password"
            >Forgot password?</a>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
<script>
  const
  hide=document.getElementById("hide"),pass=document.getElementById("pass");hide.addEventListener("click",(()=>{"password"===pass.getAttribute("type")?pass.setAttribute("type","text"):pass.setAttribute("type","password")}));
</script>
{{! <div class="card home-page flex">
  <h1>Login to Result Portal</h1>
  <form action="/login/admin" method="POST" class="login">
    <input type="text" name="username" placeholder="Input Username" />
    <input type="password" name="password" placeholder="Input Password" />
    <button type="submit">Login</button>
  </form>
  <p>Not an Admin? Login in as a <a href="/login/teacher"  style="display: inline;">Teacher</a></p>
</div> }}