@font-face {
  font-family: euclidcircularb;
  src: url('/fonts/euclidcircularb-regular.woff2')
      format("woff2"),
    url('/fonts/euclidcircularb-semibold.woff2')
      format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: euclidcircularb;
  src: url('/fonts/euclidcircularb-semibold.woff2')
  format("woff2"),
    url('/fonts/euclidcircularb-semibold.woff2')
      format("woff2");
  font-weight: 600 700;
  font-style: normal;
}

:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --red: #dc3545;
  --orange: #fd7e14;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --bg: #272343;
  --primary-color: #ffd803;
  --sec-color: #007bff;
  --dark-bg: #0b0e11;
  --font: euclidcircularb, sans-serif;
}

.font {
  font-family: euclidcircularb, sans-serif;
}

/* .container {
  max-width: 1300px;
  margin: 0 auto;
}
*/
.flexxx {
  display: flex;
  align-items: center;
  justify-content: center;
} 

* {
  padding: 0;
  margin: 0;
  font-family: var(--font)!important;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font);
}

/* a {
  text-decoration: none;
}

.btn {
  padding: 7px 25px;
  color: #fff;
  font-weight: 400;
  font-size: 17px;
  background-color: var(--blue);
  border: 1px var(--blue) solid;
  cursor: pointer;
}

.btn-block {
  width: 100%;
  display: block;
  text-align: center;
}

.input-group {
  min-width: 200px;
  margin: 10px 0 10px 5px;
  padding: 10px 15px;
}

label {
  font-size: 13px;
  padding-left: 5px;
  font-weight: bold;
}

.input-group input,
.input-group select {
  padding: 5px;
  margin-top: 7px;
  width: 100%;
  outline: none;
}

.input__card {
  padding: 5px;
}

input[type='text'] {
  outline: none;
}

.card__new {
  grid-template-columns: repeat(4, 1fr) !important;
}
@media (max-width: 600px) {
  .card__new {
    grid-template-columns: repeat(1, 1fr)!important;
  }
  .mobile {
    flex-direction: column;
  }

  .mobile li {
    margin-bottom: 10px;
  }

  .container {
    padding: 0 10px;
  }

  .login {
    width: 100%;
    min-width: 0;
  }

  .home-page {
    padding: 20vh 10px;
  }

  .home-page p {
    min-width: 0;
  }

  .input__card {
    width: 100%;
  }
} */
