@font-face {
  font-family: euclidcircularb;
  src: url('/fonts/euclidcircularb-regular.woff2')
      format("woff2"),
    url('/fonts/euclidcircularb-semibold.woff2')
      format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: euclidcircularb;
  src: url('/fonts/euclidcircularb-semibold.woff2')
  format("woff2"),
    url('/fonts/euclidcircularb-semibold.woff2')
      format("woff2");
  font-weight: 600 700;
  font-style: normal;
}

.font {
    font-family: euclidcircularb;
}
.createFreeAccount {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 240px;
  padding: 32px;
  width: min-content;
}
@media (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .createFreeAccount {
    position: absolute;
    top: calc(50% - 142px);
  }
}
@media only screen and (max-width: 899px) {
  .createFreeAccount {
    margin: 40px 0;
    text-align: center;
  }
}
.createFreeAccount__text {
  color: #1b2d6b;
  font-size: 40px;
  font-weight: 600;
  letter-spacing: -0.02em;
  line-height: 52px;
  margin-bottom: 24px;
}
@media only screen and (max-width: 899px) {
  .createFreeAccount__text {
    font-size: 28px;
    line-height: 33px;
    margin-bottom: 12px;
  }
}
.createFreeAccount__button {
  align-self: flex-start;
  background-color: transparent;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 0 0 2px #d7dbe6;
  box-sizing: border-box;
  color: #1b2d6b;
  cursor: pointer;
  display: block;
  font-size: 18px;
  font-weight: 600;
  line-height: 23px;
  max-width: 370px;
  outline: 0;
  overflow: hidden;
  padding: 19px 32px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease-in-out 0.1s;
  white-space: nowrap;
  z-index: 2;
}
.createFreeAccount__button:before {
  background-color: #0bbcff;
  border-radius: 100%;
  content: "";
  height: 300px;
  left: -300px;
  position: absolute;
  top: calc(50% - 100px);
  transform: translateZ(0);
  transition: all 0.3s ease-in-out 0.1s;
  width: 300px;
  z-index: -1;
}
.createFreeAccount__button:hover {
  box-shadow: 0 0 0 2px #0bbcff;
  color: #fff;
}
.createFreeAccount__button:hover:before {
  height: 600px;
  width: 900px;
}
.facebookButton {
  background-color: #fff;
  border: 0;
  border-radius: 3px;
  box-shadow: 0 4px 16px 0 rgba(49, 81, 159, 0.16);
  color: #1977f3;
  cursor: pointer;
  font-family: euclidcircularb, sans-serif;
  font-size: 18px;
  letter-spacing: 0.3px;
  margin: 0 auto;
  min-height: 50px;
  min-width: 280px;
  outline: 0;
  overflow: hidden;
  padding: 15px 23px 15px 75px;
  position: relative;
  transition: all 0.2s ease-in-out;
  z-index: 2;
}
@supports (-ms-ime-align: auto) {
  .facebookButton {
    width: 100%;
  }
}
.facebookButton svg {
  fill: #fff;
  left: 14px;
  position: absolute;
  top: 13px;
}
.facebookButton:before {
  background-color: #1977f3;
  border-radius: 100%;
  content: "";
  display: block;
  height: 224px;
  left: -173px;
  position: absolute;
  top: -87px;
  transition: all 0.3s ease-in-out 0.1s;
  width: 224px;
  z-index: -1;
}
.facebookButton:hover {
  color: #fff;
}
.facebookButton:hover:before {
  height: 600px;
  width: 600px;
}
@supports (-ms-ime-align: auto) {
  .facebookButton:hover:before {
    height: 800px;
    width: 800px;
  }
}
@media (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .facebookButton:hover:before {
    height: 900px;
    top: -97px;
    width: 900px;
  }
}
.facebookButton:focus {
  box-shadow: 0 4px 16px 0 rgba(49, 81, 159, 0.36);
}
.loginForm {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 450px;
  margin-left: 80px;
  padding: 12px;
  width: 538px;
}
@media screen and (min-width: 799px) and (max-width: 1100px) {
  .loginForm {
    margin-left: 0;
    width: 326px;
  }
  .loginForm .form__area--withInputs {
    margin: 0 auto;
    width: 326px;
  }
  .loginForm .formInputContainer {
    display: flex;
    flex-direction: column;
    width: 326px;
  }
  .loginForm .formInputContainer__inputError {
    background-color: #fff;
    padding: 8px;
  }
}
@media only screen and (max-width: 899px) {
  .loginForm {
    margin-left: 0;
    margin-top: 13vh;
    padding: 0;
    width: 326px;
  }
  .loginForm .form__area--withInputs {
    margin: 0 auto;
    width: 326px;
  }
  .loginForm .formInputContainer {
    display: flex;
    flex-direction: column;
    width: 326px;
  }
  .loginForm .formInputContainer__inputError {
    background-color: #fff;
    padding: 8px;
  }
}
.loginForm .form__button {
  width: 100%;
}
.loginForm--apiLoginRequestPending {
  pointer-events: none;
}
.loginForm--apiLoginRequestPending .form__area > :not(.form__button) {
  opacity: 0.5;
}
.loginForm--fbLoginRequestPending {
  pointer-events: none;
}
.loginForm--fbLoginRequestPending .form__area > :not(.facebookButton) {
  opacity: 0.5;
}
.loginForm--fbLoginRequestPending .facebookButton {
  color: #fff;
}
.loginForm--fbLoginRequestPending .facebookButton:before {
  height: 600px;
  width: 600px;
}
.forgotPasswordForm.formContainer {
  width: auto;
}
@media only screen and (max-width: 899px) {
  .forgotPasswordForm {
    margin-left: 0;
    width: 375px;
    width: auto;
  }
  .forgotPasswordForm .form__area {
    margin: 0;
  }
  .forgotPasswordForm .form__area--withInputs {
    margin: 0;
    width: 375px;
  }
  .forgotPasswordForm .form__button {
    margin: 0 auto;
  }
  .forgotPasswordForm .formInputContainer {
    display: flex;
    padding: 0 !important;
    position: relative;
    width: 375px;
  }
  .forgotPasswordForm .formInputContainer__textInput {
    margin: 0 auto !important;
  }
  .forgotPasswordForm .formInputContainer {
    width: auto;
  }
  .forgotPasswordForm .formInputContainer__inputError {
    right: -8px;
  }
  .forgotPasswordForm .form__area--withInputs {
    width: auto;
  }
}
.forgotPasswordForm--apiRequestPending {
  pointer-events: none;
}
.forgotPasswordForm--apiRequestPending .form__area > :not(.form__button) {
  opacity: 0.5;
}
.forgotPasswordForm--apiRequestSucceeded {
  margin-left: 0;
}
@media screen and (min-width: 1101px) {
  .forgotPasswordForm--apiRequestSucceeded.formContainer {
    width: auto;
  }
}
.forgotPasswordForm .formInputContainer {
  margin-left: 0;
}
.forgotPasswordForm .formInputContainer__textInput {
  margin-left: -3px;
}
.appButton {
  align-items: center;
  align-self: stretch;
  background-color: #fff;
  border: 1px solid #d8d7db;
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  height: 44px;
  justify-content: center;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.appButton svg {
  transition: fill 0.3s ease-in-out;
}
.appButton--shopify:hover {
  background-color: #212b35;
  border-color: #212b35;
}
.appButton--shopify svg {
  fill: #000;
}
.appButton--shopify:hover svg {
  fill: #fff;
}
.appButton--wix:hover {
  background-color: #faad4d;
  border-color: #faad4d;
}
.appButton--wix svg .black {
  fill: #000;
  transition: fill 0.3s;
}
.appButton--wix svg .yellow {
  fill: #faad4d;
  transition: fill 0.3s;
}
.appButton--wix:hover svg .black,
.appButton--wix:hover svg .yellow {
  fill: #fff;
}
.appButton--facebook:hover {
  background-color: #1977f3;
  border-color: #1977f3;
}
.appButton--facebook svg {
  fill: #1977f3;
}
.appButton--facebook:hover svg {
  fill: #fff;
}
.appButton[type="button"] {
  cursor: pointer;
  outline: 0;
  padding: 0;
}
.appButton[type="button"] .appButton__image {
  left: 0;
}
.appButton:focus {
  box-shadow: 0 4px 16px 0 rgba(49, 81, 159, 0.36);
  outline: 0;
}
@media screen and (min-width: 1101px) {
  .formContainer {
    width: 584px;
  }
}
.registerForm {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  padding: 12px;
}
.registerForm .form {
  padding: 50px 0;
}
@media screen and (min-width: 799px) and (max-width: 1100px) {
  .registerForm {
    margin-left: 0;
    width: 375px;
  }
  .registerForm .form__header {
    margin-bottom: 38px;
  }
  .registerForm .form__button {
    margin: 0 auto !important;
  }
  .registerForm .form__checkboxText {
    margin: 0 auto;
    max-width: 100%;
    padding-right: 0;
  }
  .registerForm .form__checkboxText:before {
    margin-bottom: 26px;
  }
  .registerForm .form__area--withInputs {
    margin: 0;
    width: 375px;
  }
  .registerForm .formInputContainer {
    display: flex;
    margin: 0 0 16px;
    padding: 0;
    position: relative;
    width: 375px;
  }
  .registerForm .formInputContainer__textInput {
    margin: 0 auto;
  }
}
.registerForm .form__button {
  width: 100%;
}
.registerForm--apiRegisterRequestPending {
  pointer-events: none;
}
.registerForm--apiRegisterRequestPending .form__area > :not(.form__button) {
  opacity: 0.5;
}
.registerForm--fbLoginRequestPending {
  pointer-events: none;
}
.registerForm--fbLoginRequestPending .form__area > :not(.facebookButton) {
  opacity: 0.5;
}
.registerForm--fbLoginRequestPending .facebookButton {
  color: #fff;
}
.registerForm--fbLoginRequestPending .facebookButton:before {
  height: 600px;
  width: 600px;
}
.createProjectForm--apiRequestPending {
  pointer-events: none;
}
.createProjectForm--apiRequestPending .form__area > :not(.form__button) {
  opacity: 0.5;
}
.createProjectForm .formInputContainer {
  margin-left: 0;
}
.createProjectForm .formInputContainer__textInput {
  margin-left: -3px;
}
.discount-landing {
  align-items: center;
  background-color: #0d1b5d;
  color: #fff;
  display: flex;
  flex-direction: column;
  font-family: euclidcircularb, sans-serif;
  font-size: 34px;
  font-weight: 600;
  line-height: 1.35;
  min-height: 100vh;
  padding: 35px;
  text-align: center;
}
.discount-landing svg {
  width: 125px;
}
.discount-landing svg .st0 {
  fill: #fff;
}
.discount-landing .logo,
.discount-landing .text {
  padding-bottom: 24px;
  padding-top: 24px;
}
.discount-landing .text {
  max-width: 20em;
}
.discount-landing .laptop {
  background: url(/panel/dist/f138d11d25a541e6d238.png) no-repeat;
  background-size: contain;
  height: 444px;
  max-width: 375px;
  width: 100%;
}
.mailing-landing {
  align-items: center;
  background-color: #fff;
  color: #080f1a;
  display: flex;
  flex-direction: column;
  font-family: euclidcircularb, sans-serif;
  padding: 32px 24px;
  text-align: center;
}
.mailing-landing .logo {
  margin-bottom: 24px;
}
.mailing-landing .logo svg {
  width: 125px;
}
.mailing-landing .image {
  height: 200px;
  margin-bottom: 32px;
  margin-top: 24px;
  position: relative;
  width: 320px;
}
.mailing-landing .text {
  font-size: 38px;
  font-weight: 600;
  letter-spacing: -1.9px;
  line-height: 48px;
  margin-bottom: 20px;
}
.mailing-landing .text-small {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.24px;
  line-height: 1.5;
}
.form {
  align-items: center;
  font-family: euclidcircularb, sans-serif;
  width: 100%;
}
.form,
.form__appsButtons {
  display: flex;
  flex-direction: column;
}
.form__appsButtons {
  align-self: stretch;
  justify-content: center;
}
.form__appsButtons--row {
  align-self: stretch;
  flex-direction: row;
}
.form__appsButtons--row .appButton {
  flex: 1;
  margin: 0 4px;
}
.form__appsButtons--column .appButton + .appButton {
  margin-top: 12px;
}
.form__checkbox {
  display: flex;
  flex-direction: row;
  float: left;
  font-size: 14px;
  line-height: 20px;
  padding: 0 5px 0 0;
}
.form__checkboxInput {
  margin-left: -20px;
  margin-top: 3px;
  opacity: 0;
  width: 20px;
}
.form__checkboxInput--invalid + .form__checkboxText:before {
  border-color: #f6303a;
}
.form__checkboxInput:checked + .form__checkboxText:before {
  background-color: #0566ff;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48cGF0aCBmaWxsPSIjRkZGIiBkPSJNMTg2LjMwMSAzMzkuODkzIDk2IDI0OS40NjFsLTMyIDMwLjUwN0wxODYuMzAxIDQwMiA0NDggMTQwLjUwNiA0MTYgMTEweiIvPjwvc3ZnPg==);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  border-color: #0566ff;
}
.form__checkboxInput:focus:checked + .form__checkboxText:before {
  box-shadow: 0 0 3px #0566ff;
}
.form__checkboxInput:focus + .form__checkboxText:before {
  border-color: #0566ff;
}
.form__checkboxText {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 0;
  margin-top: 0;
}
.form__checkboxText:before {
  border: 2px solid #a4acb9;
  border-radius: 3px;
  content: "";
  cursor: pointer;
  display: block;
  float: left;
  height: 20px;
  margin-bottom: 16px;
  margin-right: 14px;
  transform: translateY(1px);
  transition: all 0.1s ease-in-out;
  width: 20px;
}
.form__checkboxLink {
  color: #0566ff;
  text-decoration: none;
}
.form__checkboxLink:focus,
.form__checkboxLink:hover {
  outline: 0;
  text-decoration: underline;
}
@media screen and (min-width: 1100px) {
  .form__checkbox--invalid .form__checkboxText {
    padding: 0 35px 0 5px;
    width: calc(100% - 185px);
  }
}
.form__header {
  color: #172b70;
  font-size: 32px;
  font-weight: 600;
  line-height: 41px;
  margin: 0 0 28px;
  position: relative;
  text-align: center;
}
.form__header + .form__subheader {
  margin-top: 4px;
}
@media only screen and (max-width: 899px) {
  .form__header {
    font-size: 28px;
    line-height: 33px;
  }
}
.form__subheader {
  color: #647491;
  display: block;
  font-family: euclidcircularb, sans-serif;
  font-size: 14px;
  letter-spacing: -0.1px;
  margin-bottom: 12px;
  margin-top: 40px;
  text-align: center;
}
.form__orSpacer {
  align-content: center;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAECAYAAACtBE5DAAAAU0lEQVR4AWL8////k3cfvggDOhAHA4CBGIq+2t1/z7OVfCvjCSlzbAv/e7KmnA8b0hnbOAHLsnCfJ7OxgdTGMsaZfVuaT6xSW5dztkAbZ459pV8F6/Yk2x+LrW8AAAAASUVORK5CYII=)
    repeat-x;
  background-position-y: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 28px 0 32px;
  max-width: 370px;
  width: 100%;
}
.form__orSpacerLabel {
  background-color: #fff;
  border-left: 12px solid #fff;
  border-right: 12px solid #fff;
  color: #687794;
  display: inline-block;
  font-size: 14px;
}
@media only screen and (max-width: 899px) {
  .form__orSpacer {
    margin: 30px auto;
    max-width: 322px;
  }
}
.form__area {
  align-items: center;
  align-self: center;
  display: flex;
  width: 376px;
}
.form__area,
.form__area--withInputs {
  border: 0;
  flex-direction: column;
  padding: 0;
}
@media only screen and (max-width: 899px) {
  .form__area {
    width: 100%;
  }
}
.formInputContainer {
  align-items: center;
  border: 0;
  display: flex;
  flex-direction: column;
  margin: 0 0 16px;
  padding: 0;
}
.formInputContainer__textInput {
  border: 1px solid #d8d7dc;
  border-radius: 4px;
  box-sizing: border-box;
  color: #172b70;
  font-size: 18px;
  padding: 22px 18px 20px;
  width: 370px;
}
.formInputContainer__textInput:active,
.formInputContainer__textInput:focus {
  border: 1px solid #0566ff;
  box-shadow: 0 0 0 1px #0566ff;
  outline: 0;
}
.formInputContainer__textInput::placeholder {
  color: #8e99ab;
}
.formInputContainer__textInput--invalid {
  border-color: #f6303a;
}
@media only screen and (max-width: 899px) {
  .formInputContainer__textInput {
    max-width: 326px;
  }
}
.formInputContainer--withCheckbox {
  position: relative;
}
.formInputContainer--withCheckbox .form__checkbox {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 326px;
}
@media screen and (min-width: 900px) {
  .formInputContainer--withCheckbox .form__checkbox {
    max-width: 365px;
  }
}
.formInputContainer__inputError {
  align-self: flex-start;
  color: #f6303a;
  display: inline-flex;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: -7px;
  padding-left: 2px;
  padding-top: 4px;
}
.formInputContainer__inputError:before {
  background: url(data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMTYgMTYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSIgc3R5bGU9ImZpbGwtcnVsZTpldmVub2RkO2NsaXAtcnVsZTpldmVub2RkO3N0cm9rZS1saW5lam9pbjpyb3VuZDtzdHJva2UtbWl0ZXJsaW1pdDoxLjQxNDIxIj48cGF0aCBkPSJNMTI3MiA3ODIwYy00LjQgMC04IDMuNi04IDhzMy42IDggOCA4IDgtMy42IDgtOC0zLjYtOC04LThabS45MiAxMmgtMS44NHYtMS41NGgxLjg0djEuNTRabTAtMy4zOWgtMS44NHYtNC45MmgxLjg0djQuOTJaIiBzdHlsZT0iZmlsbDojZjUyZjM5O2ZpbGwtcnVsZTpub256ZXJvIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMTI2NCAtNzgyMCkiLz48L3N2Zz4=)
    no-repeat;
  content: "";
  display: inline-flex;
  height: 14px;
  margin-right: 6px;
  min-width: 14px;
}
.formInputContainer--invalid {
  height: 98px;
  max-height: none;
}
.form__formAlert {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-size: 16px;
  justify-content: center;
  margin-bottom: 15px;
}
.form__formAlert--error {
  color: #f6303a;
}
.form__formAlert--error:before {
  background: url(data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMTYgMTYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSIgc3R5bGU9ImZpbGwtcnVsZTpldmVub2RkO2NsaXAtcnVsZTpldmVub2RkO3N0cm9rZS1saW5lam9pbjpyb3VuZDtzdHJva2UtbWl0ZXJsaW1pdDoxLjQxNDIxIj48cGF0aCBkPSJNMTI3MiA3ODIwYy00LjQgMC04IDMuNi04IDhzMy42IDggOCA4IDgtMy42IDgtOC0zLjYtOC04LThabS45MiAxMmgtMS44NHYtMS41NGgxLjg0djEuNTRabTAtMy4zOWgtMS44NHYtNC45MmgxLjg0djQuOTJaIiBzdHlsZT0iZmlsbDojZjUyZjM5O2ZpbGwtcnVsZTpub256ZXJvIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMTI2NCAtNzgyMCkiLz48L3N2Zz4=)
    no-repeat;
  background-position-y: center;
  content: "";
  height: 18px;
  margin: 0 9px;
  min-width: 18px;
  padding: 8px 0;
}
.form__formAlert--info {
  color: #1b2d6b;
}
.form__formAlert--info:before {
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48cGF0aCBmaWxsPSIjNDU4OWY4IiBkPSJNMjU2IDQ4QzE0MS4yIDQ4IDQ4IDE0MS4yIDQ4IDI1NnM5My4yIDIwOCAyMDggMjA4IDIwOC05My4yIDIwOC0yMDhTMzcwLjggNDggMjU2IDQ4em0yMSAzMTJoLTQyVjIzNWg0MnYxMjV6bTAtMTY2aC00MnYtNDJoNDJ2NDJ6Ii8+PC9zdmc+)
    no-repeat;
  background-position-y: center;
  content: "";
  height: 18px;
  margin: 0 9px;
  min-width: 18px;
  padding: 8px 0;
}
.form__pageLink {
  color: #687794;
  font-weight: 400;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}
.form__pageLink:focus {
  color: #0bbcff;
  outline: 0;
}
.form__pageLinkRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.form__pageLinkRow .form__pageLink:first-child {
  margin-right: 10px;
}
.form__pageLinkRow .form__pageLink:last-child {
  margin-left: 10px;
}
.form__pageLink--inFooter {
  display: flex;
  flex-direction: row;
  font-size: 16px;
  justify-content: center;
  line-height: 20px;
  margin-top: 40px;
}
.form__pageLink:hover {
  color: #0bbcff;
}
.form__button {
  background: #0566ff;
  border: 1px solid #0566ff;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  line-height: 23px;
  max-width: 370px;
  outline: 0;
  padding: 20px;
  transition: all 0.2s ease-in-out;
}
.form__button--fullWidth {
  width: 100%;
}
.form__button--thin {
  margin-top: 24px;
  max-width: 375px;
  padding: 12px 24px 11px;
}
.form__button:focus {
  box-shadow: 0 0 6px #0566ff;
}
.form__button:hover {
  background: #2f78e9;
  border-color: #2f78e9;
}
@media only screen and (max-width: 899px) {
  .form__button {
    max-width: 326px;
  }
}
.authGrid__logo {
  height: auto;
  left: 40px;
  position: absolute;
  top: 36px;
  width: 105px;
  z-index: 1;
}
.authGrid__logo img {
  height: 100%;
  width: 100%;
}
@media only screen and (max-width: 600px) {
  .authGrid__logo {
    left: 16px;
    top: 15px;
    width: 84px;
  }
}
.authGridContainer {
  display: grid;
}
@media (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .authGridContainer {
    display: flex;
    flex-direction: row;
  }
}
.authGridContainer--fullScreen {
  min-height: 100vh;
  min-width: calc(100vw - 15px);
}
@media only screen and (max-width: 899px) {
  .authGridContainer {
    grid-auto-flow: column;
    grid-template-columns: 100%;
    grid-template-rows: 6fr 2fr;
  }
  .authGridContainer--oneRow {
    grid-template-rows: 1fr;
  }
}
@media screen and (min-width: 900px) {
  .authGridContainer {
    grid-auto-flow: row;
    grid-template-columns: 4fr 6fr;
  }
}
@supports (-ms-ime-align: auto) {
  .authGridContainer--login,
  .authGridContainer--login .authGridColumn--formParent {
    background-color: #fff;
  }
}
@media (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .authGridContainer--login .authGridColumn--formParent {
    background-color: #fff;
    left: 0;
    min-height: 100vh;
  }
  .authGridContainer--login .authGridColumn--formParent .loginForm {
    background-color: #fff;
    margin-left: 0;
  }
}
@media only screen and (max-width: 899px) {
  .authGridContainer--login {
    grid-template-rows: auto auto;
    padding-top: 30px;
  }
}
.authGridContainer--forgotPassword {
  grid-template-columns: 1fr;
}
.authGridContainer--forgotPassword .authGridColumn--formParent {
  background-color: #fff;
}
@media (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .authGridContainer--forgotPassword .authGridColumn--formParent {
    min-height: 100vh;
  }
}
.authGridContainer--forgotPassword .authGridColumn--formParent:before {
  display: none;
}
.authGridContainer--forgotPassword .formInputContainer {
  padding: 1px 0 0 3px;
}
@supports (-ms-ime-align: auto) {
  .authGridContainer--register .authGridColumn--formParent {
    background-color: #fff;
  }
}
@media (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .authGridContainer--register .authGridColumn--callToActionParent,
  .authGridContainer--register .authGridColumn--formParent {
    background-color: #fff;
  }
  .authGridContainer--register .authGridColumn--formParent .registerForm {
    background-color: #fff;
    margin-left: 0;
  }
}
@media only screen and (max-width: 899px) {
  .authGridContainer--register {
    grid-template-rows: auto auto;
  }
  .authGridContainer--register .authGridColumn,
  .authGridContainer--register .authGridColumn--formParent {
    padding-top: 30px;
  }
}
.authGridContainer .lang-selector {
  position: absolute;
  right: 40px;
  top: 34px;
}
@media only screen and (max-width: 576px) {
  .authGridContainer .lang-selector {
    right: 15px;
    top: 18px;
  }
}
.authGridColumn {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}
.authGridColumn--formParent {
  background-color: #eff2f9;
  overflow: hidden;
  position: relative;
  z-index: 0;
}
@media (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .authGridColumn--formParent {
    background: #fff;
    min-height: 100vh;
  }
}
.authGridColumn--formParent:before {
  background: #fff;
  border-radius: 100%;
  content: "";
  display: block;
  height: 3000px;
  position: absolute;
  width: 3000px;
  z-index: -1;
}
@media only screen and (max-width: 899px) {
  .authGridColumn--formParent:before {
    bottom: 0;
    transform: translate(0);
    transform-origin: 0 0;
  }
}
@media screen and (min-width: 900px) {
  .authGridColumn--formParent:before {
    left: 0;
    transform: translate(0);
    transform-origin: 0 50%;
  }
}
@media only screen and (max-width: 899px) {
  .authGridColumn--formParent {
    grid-column-start: 1;
  }
}
.authGridColumn--callToActionParent {
  background-color: #eff2f9;
}
@media (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .authGridColumn--callToActionParent {
    min-height: 100vh;
  }
}
.swal2-icon {
  margin: 0.5em;
}
.swal2-actions,
.swal2-content {
  font-family: euclidcircularb, sans-serif;
}
/*! CSS Used from: https://www.tidio.com/panel/dist/5eb9bbcd0157b453aaf4.css */
@media print {
  *,
  :after,
  :before {
    background: 0 0 !important;
    box-shadow: none !important;
    color: #000 !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
}
*,
:after,
:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
* {
  -webkit-font-smoothing: antialiased;
}
button,
input {
  font-family: euclidcircularb, sans-serif;
  font-size: inherit;
  line-height: inherit;
}
button::-moz-placeholder,
input::-moz-placeholder {
  color: #647491;
  opacity: 1;
}
button:-ms-input-placeholder,
input:-ms-input-placeholder {
  color: #647491;
}
button::-webkit-input-placeholder,
input::-webkit-input-placeholder {
  color: #647491;
}
a {
  color: #0566ff;
}
a,
a:focus,
a:hover {
  text-decoration: none;
}
a:focus,
a:hover {
  color: #0047b7;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
h1 {
  color: inherit;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
}
h1:before {
  color: #0566ff;
  margin-right: 10px;
}
h1 {
  margin-bottom: 9px;
  margin-top: 18px;
}
h1 {
  font-size: 36px;
}
fieldset {
  margin: 0;
  min-width: 0;
}
fieldset {
  border: 0;
  padding: 0;
}
body button,
body input {
  line-height: inherit;
}
/*! CSS Used from: https://www.tidio.com/panel/dist/7a1b8ab3de45a265f701.css */
.facebookButton {
  background-color: #fff;
  border: 0;
  border-radius: 3px;
  box-shadow: 0 4px 16px 0 rgba(49, 81, 159, 0.16);
  color: #1977f3;
  cursor: pointer;
  font-family: euclidcircularb, sans-serif;
  font-size: 18px;
  letter-spacing: 0.3px;
  margin: 0 auto;
  min-height: 50px;
  min-width: 280px;
  outline: 0;
  overflow: hidden;
  padding: 15px 23px 15px 75px;
  position: relative;
  transition: all 0.2s ease-in-out;
  z-index: 2;
}
.facebookButton svg {
  fill: #fff;
  left: 14px;
  position: absolute;
  top: 13px;
}
.facebookButton:before {
  background-color: #1977f3;
  border-radius: 100%;
  content: "";
  display: block;
  height: 224px;
  left: -173px;
  position: absolute;
  top: -87px;
  transition: all 0.3s ease-in-out 0.1s;
  width: 224px;
  z-index: -1;
}
.facebookButton:hover {
  color: #fff;
}
.facebookButton:hover:before {
  height: 600px;
  width: 600px;
}
@media (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .facebookButton:hover:before {
    height: 900px;
    top: -97px;
    width: 900px;
  }
}
.facebookButton:focus {
  box-shadow: 0 4px 16px 0 rgba(49, 81, 159, 0.36);
}
@media screen and (min-width: 799px) and (max-width: 1100px) {
  .loginForm .formInputContainer {
    display: flex;
    flex-direction: column;
    width: 326px;
  }
}
@media only screen and (max-width: 899px) {
  .loginForm .formInputContainer {
    display: flex;
    flex-direction: column;
    width: 326px;
  }
}
.loginForm .form__button {
  width: 100%;
}
.form {
  align-items: center;
  font-family: euclidcircularb, sans-serif;
  width: 100%;
}
.form {
  display: flex;
  flex-direction: column;
}
.form__header {
  color: #172b70;
  font-size: 32px;
  font-weight: 600;
  line-height: 41px;
  margin: 0 0 28px;
  position: relative;
  text-align: center;
}
@media only screen and (max-width: 899px) {
  .form__header {
    font-size: 28px;
    line-height: 33px;
  }
}
.form__orSpacer {
  align-content: center;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAECAYAAACtBE5DAAAAU0lEQVR4AWL8////k3cfvggDOhAHA4CBGIq+2t1/z7OVfCvjCSlzbAv/e7KmnA8b0hnbOAHLsnCfJ7OxgdTGMsaZfVuaT6xSW5dztkAbZ459pV8F6/Yk2x+LrW8AAAAASUVORK5CYII=)
    repeat-x;
  background-position-y: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 28px 0 32px;
  max-width: 370px;
  width: 100%;
}
.form__orSpacerLabel {
  background-color: #fff;
  border-left: 12px solid #fff;
  border-right: 12px solid #fff;
  color: #687794;
  display: inline-block;
  font-size: 14px;
}
@media only screen and (max-width: 899px) {
  .form__orSpacer {
    margin: 30px auto;
    max-width: 322px;
  }
}
.form__area {
  align-items: center;
  align-self: center;
  display: flex;
  width: 376px;
}
.form__area {
  border: 0;
  flex-direction: column;
  padding: 0;
}
@media only screen and (max-width: 899px) {
  .form__area {
    width: 100%;
  }
}
.formInputContainer {
  align-items: center;
  border: 0;
  display: flex;
  flex-direction: column;
  margin: 0 0 16px;
  padding: 0;
}
.formInputContainer__textInput {
  border: 1px solid #d8d7dc;
  border-radius: 4px;
  box-sizing: border-box;
  color: #172b70;
  font-size: 18px;
  padding: 22px 18px 20px;
  width: 370px;
}
.formInputContainer__textInput:active,
.formInputContainer__textInput:focus {
  border: 1px solid #0566ff;
  box-shadow: 0 0 0 1px #0566ff;
  outline: 0;
}
.formInputContainer__textInput::placeholder {
  color: #8e99ab;
}
@media only screen and (max-width: 899px) {
  .formInputContainer__textInput {
    max-width: 326px;
  }
}
.form__pageLink {
  color: #687794;
  font-weight: 400;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}
.form__pageLink:focus {
  color: #0bbcff;
  outline: 0;
}
.form__pageLink--inFooter {
  display: flex;
  flex-direction: row;
  font-size: 16px;
  justify-content: center;
  line-height: 20px;
  margin-top: 40px;
}
.form__pageLink:hover {
  color: #0bbcff;
}
.form__button {
  background: #0566ff;
  border: 1px solid #0566ff;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  line-height: 23px;
  max-width: 370px;
  outline: 0;
  padding: 20px;
  transition: all 0.2s ease-in-out;
}
.form__button:focus {
  box-shadow: 0 0 6px #0566ff;
}
.form__button:hover {
  background: #2f78e9;
  border-color: #2f78e9;
}
@media only screen and (max-width: 899px) {
  .form__button {
    max-width: 326px;
  }
}
/*! CSS Used from: Embedded */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
a {
  background-color: transparent;
}
button,
input {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button {
  text-transform: none;
}
button,
[type="button"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
/*! CSS Used from: Embedded */
.css-lo9wpn {
  position: relative;
  display: inline-block;
}
.css-lo9wpn input {
  padding-right: 44px;
}
.css-1bcwkbe {
  cursor: pointer;
  position: absolute;
  right: 16px;
  top: calc(50% - 12px);
  border: 0px;
  background: transparent;
  outline: none;
  margin: 0px;
  padding: 0px;
  width: 24px;
  height: 24px;
}
.css-1bcwkbe svg {
  fill: rgb(165, 172, 183);
}


body {
  margin: 0;
}
