<div class="card home-page flex">
  <h1>Login to Result Portal</h1>
  <form action="/login/admin" method="POST" class="login">
    <input type="text" name="username" placeholder="Input Username" />
    <input type="password" name="password" placeholder="Input Password" />
    <button type="submit">Login</button>
  </form>
  <p>Not an Admin? Login in as a <a href="/login/teacher"  style="display: inline;">Teacher</a></p>
</div>