<div class="card home-page flex">
  <h1>Login to Result Portal</h1>
  <form action="/login/teacher" method="POST" class="login">
    <input type="text" name="username" placeholder="Input Username" />
    <input type="password" name="password" placeholder="Input Password" />
    <button type="submit">Login</button>
  </form>
  <p>Not a Teacher? Login in as an <a href="/login/admin"  style="display: inline;">Admin</a></p>
</div>