{{> dash_loader}}
{{> dash_header}}
{{> left_sidebar }}
<div class="main-container">
  <div class="xs-pd-20-10 pd-ltr-20">
    <div class="title pb-20">
      <h2 class="h3 mb-0">Edit Teacher</h2>
    </div>

    <!-- Default Basic Forms Start -->
    <div class="pd-20 card-box mb-30">
      <div class="clearfix">
        <div class="pull-left">
          <h4 class="text-blue h4">Complete Form</h4>
        </div>
      </div>
      {{#if Result}}
        <form
          action="/users/admin/update-result"
          method="POST"
          autocomplete="on"
        >
          <div class="form-group row">
            <label class="col-sm-12 col-md-2 col-form-label">Comment</label>
            <div class="col-sm-12 col-md-10">
              <input
                class="form-control"
                type="text"
                placeholder="Head Teacher's Comment"
                name="hcomment"
                value="{{Result.hcomment}}"
              />
            </div>
          </div>
          <div style="display:none;">
            <input type="text" name="resultId" value="{{Result.resultId}}" />
          </div>
          <div class="form-group row">
            <label class="col-sm-12 col-md-2 col-form-label"></label>
            <div class="pull-right" style="margin: 10px auto;">
              <button
                class="btn btn-primary btn-lg"
                style="width: 100%;"
                type="submit"
              >Comment</button>
            </div>
          </div>
        </form>
      {{else}}
      {{/if}}
    </div>
    <!-- Default Basic Forms End -->
  </div>
</div>
{{> scripts}}
{{> _toasts}}
{{> _toastfooter}}