{{> dash_loader}}
{{> dash_header}}
{{> left_sidebar }}

<div class="main-container">
  <div class="xs-pd-20-10 pd-ltr-20">
    <div class="title pb-20">
      <h2 class="h3 mb-0">Register Teachers</h2>
    </div>

    <!-- Default Basic Forms Start -->
<div class="pd-20 card-box mb-30">
  <div class="clearfix">
    <div class="pull-left">
      <h4 class="text-blue h4">Default Basic Forms</h4>
      <p class="mb-30">All bootstrap element classies</p>
    </div>
  </div>
  <form action="/users/admin/register-teachers" method="POST" autocomplete="off">
    <div class="form-group row">
      <label class="col-sm-12 col-md-2 col-form-label">Name</label>
      <div class="col-sm-12 col-md-10">
        <input class="form-control" type="text" placeholder="Teacher Name" name="name" />
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-12 col-md-2 col-form-label">Class</label>
      <div class="col-sm-12 col-md-10">
        <input class="form-control" type="text" placeholder="Teacher Class" name="className" />
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-12 col-md-2 col-form-label">Username</label>
      <div class="col-sm-12 col-md-10">
        <input class="form-control" type="text" placeholder="Teacher Username" name="username" autocomplete="off" />
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-12 col-md-2 col-form-label">Session</label>
      <div class="col-sm-12 col-md-10">
			<select class="custom-select col-12" name="session">
				<option selected="">Select Current Session</option>
				<option value="2020-2021">2020-2021</option>
				<option value="2021-2022">2021-2022</option>
				<option value="2022-2023">2022-2023</option>
				<option value="2023-2024">2023-2024</option>
				<option value="2024-2025">2024-2025</option>
				<option value="2025-2026">2025-2026</option>
				<option value="2026-2027">2027-2026</option>
				<option value="2027-2028">2027-2028</option>
				<option value="2029-2029">2029-2029</option>
			</select>
		</div>
    </div>
    <div class="form-group row">
      <label class="col-sm-12 col-md-2 col-form-label">Term</label>
      <div class="col-sm-12 col-md-10">
			<select class="custom-select col-12" name="term">
				<option selected="">Select Current Term</option>
				<option value="1st">1st</option>
				<option value="2nd">2nd</option>
				<option value="3rd">3rd</option>
			</select>
		</div>
    </div>
    <div class="form-group row">
      <label class="col-sm-12 col-md-2 col-form-label">Resumption</label>
      <div class="col-sm-12 col-md-10">
        <input class="form-control" type="text" placeholder="Next Resumption Date" name="resDate" />
      </div>
    </div>
    <div id="sub-child">
      <div class="form-group row">
        <label class="col-sm-12 col-md-2 col-form-label">Subject 1</label>
        <div class="col-sm-12 col-md-10">
          <input class="form-control" type="text" placeholder="Subject" name="sub1" id="sub-1" />
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-12 col-md-2 col-form-label"></label>
      <div class="pull-right" style="margin: 10px auto;">
      <button
        id="add-subject"
        class="btn btn-primary btn-sm"
        type="button"
      ><i class="fa fa-code"></i> Add Subject</button>
    </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-12 col-md-2 col-form-label">Email</label>
      <div class="col-sm-12 col-md-10">
        <input
          class="form-control"
          value="null@schoolportal.com"
          type="text"
        />
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-12 col-md-2 col-form-label">Password</label>
      <div class="col-sm-12 col-md-10">
        <input class="form-control" name="password" type="password" autocomplete="off" />
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-12 col-md-2 col-form-label">Repeat Password</label>
      <div class="col-sm-12 col-md-10">
        <input class="form-control" name="password2" type="password" />
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-12 col-md-2 col-form-label"></label>
      <div class="pull-right" style="margin: 10px auto;">
      <button
        class="btn btn-primary btn-lg"
        style="width: 100%;"
        type="submit"
      >Register Teacher</button>
    </div>
    </div>
  </form>
</div>
<!-- Default Basic Forms End -->
  </div>
</div>
{{> scripts}}
{{> _toasts}}
{{> _toast_footer}}
<script src="/js/users/admin-register-teacher.js"></script>

<!-- <div class="form-group row">
        <label class="col-sm-12 col-md-2 col-form-label">Subject 2</label>
        
        <div class="col-sm-12 col-md-10" style="display: flex;">
          <input class="form-control" type="text" placeholder="Subject" name="sub2" id="sub-2" style="flex: 1;"/>
          <div class="pull-right">
          <a
            href="#"
            class="btn btn-danger btn-sm scroll-click remove"
            role="button"
          >remove</a>
        </div>
        </div>
      </div>

      <div class="form-group row">
      <label class="col-sm-12 col-md-2 col-form-label">Telephone</label>
      <div class="col-sm-12 col-md-10">
        <input class="form-control" value="1-(111)-111-1111" type="tel" />
      </div>
    </div> -->