{{!-- <div id="__next">
  {{> header props}}
  <main>
    <section class="css-1jiclln-ejr61si0">
      <header class="css-rwf3lj eg6p4100">
        <h1
          color="#080f1a"
          font-weight="500"
          class="css-1ee8e32 e1xltrkm0"
          style="margin-bottom: 20px;"
        >Welcome to Result Portal, Awesome School Management System!</h1>
        {{! <p color="#080f1a" font-weight="400" class="css-1t91sv4 e1v4m85z0">Try Tidio for free. No credit card required.</p> }}
        <a
          href="/results"
          type="button"
          font-weight="500"
          target=""
          class="css-1olgody eufvavc3"
        >Check your Result</a>
      </header>
    </section>
    <section class="css-1jiclln ejr61si0">
      <div class="css-mwfy6p e3vs7qk0">
        <div class="css-fkxlev evv81ig0">
          <h2 color="#080f1a" class="css-177gbce e1xltrkm0">Frequently Asked
            Questions</h2>
        </div>
      </div>
      <div class="css-mwfy6p e3vs7qk0">
        <div class="css-1uv6ecb ervlzva0">
          <div class="css-154ao3c e1y7vw3c3">
            <div class="css-1ik39dl e1y7vw3c2">
              <h3
                color="#0566ff"
                font-weight="500"
                class="css-1b7pg9h e1v4m85z0"
              >Can I change my subscription anytime I want?</h3>
              <div class="css-vmv2rc e1y7vw3c0">
                <div class="css-bxx562 ehh2y9a1">
                  <span class="css-kicmf6 ehh2y9a0">
                  </span>
                  <span class="css-kicmf6 ehh2y9a0">
                  </span>
                </div>
              </div>
            </div>
            <div
              class="css-1ps7xqq e1y7vw3c1"
              style="transition-duration: 0.3s; height: 0px;"
            >
              <p
                color="#080f1a"
                font-weight="400"
                class="css-z80was e1v4m85z0"
              >Yes. You can upgrade or downgrade your plan anytime you want,
                regardless of whether you have an active paid subscription or
                you are on the free plan.</p>
            </div>
          </div>
          <div class="css-154ao3c e1y7vw3c3">
            <div class="css-1ik39dl e1y7vw3c2">
              <h3
                color="#0566ff"
                font-weight="500"
                class="css-1b7pg9h e1v4m85z0"
              >Can I subscribe to more than one plan?</h3>
              <div class="css-vmv2rc e1y7vw3c0">
                <div class="css-bxx562 ehh2y9a1">
                  <span class="css-kicmf6 ehh2y9a0">
                  </span>
                  <span class="css-kicmf6 ehh2y9a0">
                  </span>
                </div>
              </div>
            </div>
            <div
              class="css-1ps7xqq e1y7vw3c1"
              style="transition-duration: 0.3s; height: 0px;"
            >
              <p
                color="#080f1a"
                font-weight="400"
                class="css-z80was e1v4m85z0"
              >Yes. Our plans are very flexible. Think of them as options you
                can freely turn on and off whenever you want. If you’re looking
                for advanced live chat features, pick the Communicator plan
                priced per operator seat. But, if automations are something else
                you need, you can add the Chatbots plan as well. Remember, you
                can downgrade your subscription at any time!</p>
            </div>
          </div>
          <div class="css-154ao3c e1y7vw3c3"><div
              class="css-1ik39dl e1y7vw3c2"
            ><h3
                color="#0566ff"
                font-weight="500"
                class="css-1b7pg9h e1v4m85z0"
              >How many live chat messages can I send?</h3><div
                class="css-vmv2rc e1y7vw3c0"
              ><div class="css-bxx562 ehh2y9a1"><span
                    class="css-kicmf6 ehh2y9a0"
                  ></span><span
                    class="css-kicmf6 ehh2y9a0"
                  ></span></div></div></div><div
              class="css-1ps7xqq e1y7vw3c1"
              style="transition-duration: 0.3s; height: 0px;"
            ><p
                color="#080f1a"
                font-weight="400"
                class="css-z80was e1v4m85z0"
              >You and your operators can send unlimited live chat messages, but
                the number of people you can contact depends on your plan. You
                can talk to 50 unique visitors on the free plan and an unlimited
                number of visitors on the Communicator plan.</p></div></div><div
            class="css-154ao3c e1y7vw3c3"
          ><div class="css-1ik39dl e1y7vw3c2"><h3
                color="#0566ff"
                font-weight="500"
                class="css-1b7pg9h e1v4m85z0"
              >Does the free plan allow using chatbots?</h3><div
                class="css-vmv2rc e1y7vw3c0"
              ><div class="css-bxx562 ehh2y9a1"><span
                    class="css-kicmf6 ehh2y9a0"
                  ></span><span
                    class="css-kicmf6 ehh2y9a0"
                  ></span></div></div></div><div
              class="css-1ps7xqq e1y7vw3c1"
              style="transition-duration: 0.3s; height: 0px;"
            ><p
                color="#080f1a"
                font-weight="400"
                class="css-z80was e1v4m85z0"
              >Yes. As a free plan subscriber, you can add chatbot templates to
                your account and use our chatbot builder to build as many
                chatbots as you want. Although your chatbots can have an
                unlimited number of chats, they are limited to talking only to
                100 unique visitors per month.</p></div></div><div
            class="css-154ao3c e1y7vw3c3"
          ><div class="css-1ik39dl e1y7vw3c2"><h3
                color="#0566ff"
                font-weight="500"
                class="css-1b7pg9h e1v4m85z0"
              >When will my chatbot limit refresh?</h3><div
                class="css-vmv2rc e1y7vw3c0"
              ><div class="css-bxx562 ehh2y9a1"><span
                    class="css-kicmf6 ehh2y9a0"
                  ></span><span
                    class="css-kicmf6 ehh2y9a0"
                  ></span></div></div></div><div
              class="css-1ps7xqq e1y7vw3c1"
              style="transition-duration: 0.3s; height: 0px;"
            ><p
                color="#080f1a"
                font-weight="400"
                class="css-z80was e1v4m85z0"
              >The limit refreshes every 30 days. If you are on the paid plan,
                the limit will refresh after 30 days, starting from the moment
                you have made your payment. If you are on the Free plan, the
                limit will refresh after 30 days, starting from the moment you
                have created your account.</p></div></div><div
            class="css-154ao3c e1y7vw3c3"
          ><div class="css-1ik39dl e1y7vw3c2"><h3
                color="#0566ff"
                font-weight="500"
                class="css-1b7pg9h e1v4m85z0"
              >Can I add Tidio live chat to more than one website/store?</h3><div
                class="css-vmv2rc e1y7vw3c0"
              ><div class="css-bxx562 ehh2y9a1"><span
                    class="css-kicmf6 ehh2y9a0"
                  ></span><span
                    class="css-kicmf6 ehh2y9a0"
                  ></span></div></div></div><div
              class="css-1ps7xqq e1y7vw3c1"
              style="transition-duration: 0.3s; height: 0px;"
            ><p
                color="#080f1a"
                font-weight="400"
                class="css-z80was e1v4m85z0"
              >Yes, you can add Tidio to multiple sites and/or stores. Please
                note, however, that the live chat widget will share all the
                appearance and behavior settings across all your
                websites/stores. It means it will have the same color scheme, it
                will go online/offline according to the same DND hours, it will
                display the same offline messages, etc.</p></div></div></div></div></section>
    <section class="css-18eqtal-ejr61si0">
      <div class="css-mwfy6p e3vs7qk0"><div
          class="css-c9ivha eevzg4j1"
          style="width: 100%;"
        ><div class="css-zqf9l eevzg4j0"><h2
              color="#DCE9FF"
              font-weight="400"
              class="css-1gwbklc e1xltrkm0"
            >See what Result Portal can do for your school</h2></div><a
            href="mailto:lextechspec@gmail.com"
            type="button"
            font-weight="500"
            target=""
            data-testid="block-below-cta"
            class="css-octfoh eufvavc3"
          >Contact Us</a></div></div>
    </section>
  </main>
  <footer
    itemscope=""
    itemtype="https://schema.org/WPFooter"
    class="css-y58p13 ejo3cab1"
  ><div class="css-mwfy6p e3vs7qk0"><div class="css-6hlo3x ejo3cab0"><div
          class="css-1xquo14 e1cb2zrd4"
        ><div class="css-18mxxa1 e1cb2zrd3"><span
              style="box-sizing: border-box; display: inline-block; overflow: hidden; width: 100px; height: 34px; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: relative;"
            ><img
                alt="Tidio"
                src="/images/tidio-logo.svg"
                decoding="async"
                data-nimg="fixed"
                style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%;"
                srcset="/images/tidio-logo.svg 1x, /images/tidio-logo.svg 2x"
              /><noscript></noscript></span></div><div
            class="css-jj2csd e1cb2zrd2"
          ><p
              color="#647491"
              font-weight="400"
              class="css-9e4sqz e1v4m85z0"
            >Tidio 2022. All rights reserved.</p><div
              class="css-13y9dg4 e1cb2zrd1"
            ><a
                href="mailto:support@tidio.net"
                rel="nofollow"
                class="css-1t0344f e1cb2zrd0"
              >support@tidio.net</a><div class="css-pr93wy e6r2etz5"><div
                  class="css-qsbcuv e6r2etz4"
                ><div class="css-zjik7 e6r2etz2"><div
                      class="css-14epytg e6r2etz3"
                    ><svg
                        width="16"
                        height="16"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      ><path
                          fill-rule="evenodd"
                          clip-rule="evenodd"
                          d="M7.994 1.333A6.663 6.663 0 001.333 8c0 3.68 2.98 6.667 6.66 6.667A6.67 6.67 0 0014.666 8a6.67 6.67 0 00-6.673-6.667zm4.62 4h-1.967a10.432 10.432 0 00-.92-2.373 5.353 5.353 0 012.886 2.373zM8 2.693c.553.8.987 1.687 1.274 2.64H6.726c.286-.953.72-1.84 1.273-2.64zm-5.16 6.64A5.495 5.495 0 012.667 8c0-.46.067-.907.173-1.333h2.253C5.04 7.107 5 7.547 5 8c0 .454.04.893.093 1.334H2.84zm.547 1.334h1.967c.213.833.52 1.633.92 2.373a5.325 5.325 0 01-2.887-2.373zm1.967-5.333H3.387A5.325 5.325 0 016.274 2.96c-.4.74-.707 1.54-.92 2.373zM8 13.306a9.39 9.39 0 01-1.273-2.64h2.546A9.39 9.39 0 018 13.307zm1.56-3.973H6.44c-.06-.44-.107-.88-.107-1.334 0-.453.047-.9.107-1.333h3.12c.06.433.107.88.107 1.333 0 .454-.047.893-.107 1.334zm.167 3.706c.4-.74.707-1.54.92-2.373h1.966a5.353 5.353 0 01-2.886 2.373zm1.18-3.706C10.96 8.894 11 8.454 11 8c0-.453-.04-.893-.093-1.333h2.253c.107.426.174.873.174 1.333 0 .46-.067.907-.174 1.334h-2.253z"
                          fill="#647491"
                        ></path></svg></div><p
                      color="#647491"
                      font-weight="400"
                      class="css-11yd86g e1v4m85z0"
                    >EN</p></div><div class="css-1tlqbf8 e6r2etz3"><svg
                      width="20"
                      height="20"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    ><path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M5.833 8.334L10 12.5l4.167-4.166H5.833z"
                        fill="#647491"
                      ></path></svg></div></div><div
                  class="css-g0a7oe e6r2etz1"
                ></div></div></div></div></div><nav
          class="css-s8rg2d es02l220"
        ><div class="css-1lszvqf e1d0e01r1"><header
              color="#080f1a"
              font-weight="600"
              class="e1d0e01r0 css-xusnei e1v4m85z0"
            >Tidio</header><ul><li><a
                  color="#080f1a"
                  font-weight="400"
                  text-decoration="none"
                  href="/affiliate/"
                  title="Affiliate Program"
                  class="css-f1xcyt ejvjd930"
                >Affiliate Program</a></li><li><a
                  color="#080f1a"
                  font-weight="400"
                  text-decoration="none"
                  href="/contact/"
                  title="Contact"
                  class="css-f1xcyt ejvjd930"
                >Contact</a></li><li><a
                  color="#080f1a"
                  font-weight="400"
                  text-decoration="none"
                  href="https://careers.tidio.com/"
                  target="_blank"
                  rel="noopener noreferrer"
                  title="Jobs – We're hiring!"
                  class="css-f1xcyt ejvjd930"
                >Jobs – We're hiring!</a></li><li><a
                  color="#080f1a"
                  font-weight="400"
                  text-decoration="none"
                  href="/privacy-policy/"
                  title="Privacy Policy"
                  class="css-f1xcyt ejvjd930"
                >Privacy Policy</a></li><li><a
                  color="#080f1a"
                  font-weight="400"
                  text-decoration="none"
                  href="/terms/"
                  title="Terms and Conditions"
                  class="css-f1xcyt ejvjd930"
                >Terms and Conditions</a></li><li><a
                  color="#080f1a"
                  font-weight="400"
                  text-decoration="none"
                  href="/security-policy/"
                  title="Security Policy"
                  class="css-f1xcyt ejvjd930"
                >Security Policy</a></li></ul></div><div
            class="css-1lszvqf e1d0e01r1"
          ><header
              color="#080f1a"
              font-weight="600"
              class="e1d0e01r0 css-xusnei e1v4m85z0"
            >Product</header><ul><li><a
                  color="#080f1a"
                  font-weight="400"
                  text-decoration="none"
                  href="/live-chat/"
                  title="Live Chat"
                  class="css-f1xcyt ejvjd930"
                >Live Chat</a></li><li><a
                  color="#080f1a"
                  font-weight="400"
                  text-decoration="none"
                  href="/chatbots/"
                  title="Chatbots"
                  class="css-f1xcyt ejvjd930"
                >Chatbots</a></li><li><a
                  color="#080f1a"
                  font-weight="400"
                  text-decoration="none"
                  href="https://help.tidio.com/"
                  target="_blank"
                  rel="noopener noreferrer"
                  title="Knowledge Base"
                  class="css-f1xcyt ejvjd930"
                >Knowledge Base</a></li><li><a
                  color="#080f1a"
                  font-weight="400"
                  text-decoration="none"
                  href="/pricing/"
                  title="Pricing"
                  class="css-f1xcyt ejvjd930"
                >Pricing</a></li><li><a
                  color="#080f1a"
                  font-weight="400"
                  text-decoration="none"
                  href="https://status.tidio.com/"
                  target="_blank"
                  rel="noopener noreferrer"
                  title="Status Page"
                  class="css-f1xcyt ejvjd930"
                >Status Page</a></li></ul></div><div
            class="css-1lszvqf e1d0e01r1"
          ><header
              color="#080f1a"
              font-weight="600"
              class="e1d0e01r0 css-xusnei e1v4m85z0"
            >Integrations</header><ul><li><a
                  color="#080f1a"
                  font-weight="400"
                  text-decoration="none"
                  href="/integrations/"
                  title="All"
                  class="css-f1xcyt ejvjd930"
                >All</a></li><li><a
                  color="#080f1a"
                  font-weight="400"
                  text-decoration="none"
                  href="/shopify/"
                  title="Shopify"
                  class="css-f1xcyt ejvjd930"
                >Shopify</a></li><li><a
                  color="#080f1a"
                  font-weight="400"
                  text-decoration="none"
                  href="/wordpress/"
                  title="WordPress"
                  class="css-f1xcyt ejvjd930"
                >WordPress</a></li><li><a
                  color="#080f1a"
                  font-weight="400"
                  text-decoration="none"
                  href="/squarespace/"
                  title="Squarespace"
                  class="css-f1xcyt ejvjd930"
                >Squarespace</a></li><li><a
                  color="#080f1a"
                  font-weight="400"
                  text-decoration="none"
                  href="/wix/"
                  title="Wix"
                  class="css-f1xcyt ejvjd930"
                >Wix</a></li><li><a
                  color="#080f1a"
                  font-weight="400"
                  text-decoration="none"
                  href="/prestashop/"
                  title="PrestaShop"
                  class="css-f1xcyt ejvjd930"
                >PrestaShop</a></li><li><a
                  color="#080f1a"
                  font-weight="400"
                  text-decoration="none"
                  href="/bigcommerce/"
                  title="BigCommerce"
                  class="css-f1xcyt ejvjd930"
                >BigCommerce</a></li><li><a
                  color="#080f1a"
                  font-weight="400"
                  text-decoration="none"
                  href="/ecwid/"
                  title="Ecwid"
                  class="css-f1xcyt ejvjd930"
                >Ecwid</a></li><li><a
                  color="#080f1a"
                  font-weight="400"
                  text-decoration="none"
                  href="https://help.tidio.com/docs/installation"
                  target="_blank"
                  rel="noopener noreferrer"
                  title="Ecommerce"
                  class="css-f1xcyt ejvjd930"
                >Ecommerce</a></li><li><a
                  color="#080f1a"
                  font-weight="400"
                  text-decoration="none"
                  href="https://help.tidio.com/docs/messenger-integration-with-tidio"
                  target="_blank"
                  rel="noopener noreferrer"
                  title="Messenger"
                  class="css-f1xcyt ejvjd930"
                >Messenger</a></li><li><a
                  color="#080f1a"
                  font-weight="400"
                  text-decoration="none"
                  href="https://help.tidio.com/docs/integration-with-instagram"
                  target="_blank"
                  rel="noopener noreferrer"
                  title="Instagram"
                  class="css-f1xcyt ejvjd930"
                >Instagram</a></li><li><a
                  color="#080f1a"
                  font-weight="400"
                  text-decoration="none"
                  href="https://help.tidio.com/docs/external-mailbox-integration"
                  target="_blank"
                  rel="noopener noreferrer"
                  title="External Email Inbox"
                  class="css-f1xcyt ejvjd930"
                >External Email Inbox</a></li></ul></div><div
            class="css-1lszvqf e1d0e01r1"
          ><header
              color="#080f1a"
              font-weight="600"
              class="e1d0e01r0 css-xusnei e1v4m85z0"
            >Resources</header><ul><li><a
                  color="#080f1a"
                  font-weight="400"
                  text-decoration="none"
                  href="/blog/"
                  title="Blog"
                  class="css-f1xcyt ejvjd930"
                >Blog</a></li><li><a
                  color="#080f1a"
                  font-weight="400"
                  text-decoration="none"
                  href="/blog/category/case-studies/"
                  title="Case Studies"
                  class="css-f1xcyt ejvjd930"
                >Case Studies</a></li><li><a
                  color="#080f1a"
                  font-weight="400"
                  text-decoration="none"
                  href="/people/"
                  title="Authors"
                  class="css-f1xcyt ejvjd930"
                >Authors</a></li><li><a
                  color="#080f1a"
                  font-weight="400"
                  text-decoration="none"
                  href="/typing-test/"
                  title="Speed Typing Test"
                  class="css-f1xcyt ejvjd930"
                >Speed Typing Test</a></li></ul></div></nav></div></div></footer>
</div> --}}

{{> loader}}
{{> header about=active}}

<div class="all-title-box">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>About Us</h2>
        <!-- Breadcrumbs -->
        <nav id="breadcrumbs">
          <ul>
            <li><a href="#">Home</a></li>
            <li>About Us</li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>

<div class="about-box">
  <div class="container">
    <div class="row">
      {{>about_items}}
    </div>

    <hr class="hr1" />

    <div class="row">
      <div class="col-md-6">
        <div
          class="post-media wow fadeIn"
          style="visibility: visible; animation-name: fadeIn;"
        >
          <img src="/uploads/about_bg.jpg" alt="" class="img-responsive" />
        </div><!-- end media -->
      </div>
      <div class="col-md-6">
        <div class="message-box right-ab">
          <h4>Awards Winning Real Estate Company</h4>
          <h2>Welcome to Empire Investment</h2>
          Empire Investment is a Private company limited by shares,
            authorized and regulated in various jurisdictions and is committed
            to offering you the best possible trading experience in forex and
            crypto market. We are registered and regulated in Australia. <br> <br> We help
            investors make the most profitable and efficient trading decisions.
            Experience it for yourself.
          </p>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="about-box">
  <div class="container">
    <div class="section-title row text-center">
      <div class="col-md-8 col-md-offset-2">
        <h3>ABOUT US</h3>
        <p style="text-align: left;">
            Empire Investment is a Private company limited by shares,
            authorized and regulated in various jurisdictions and is committed
            to offering you the best possible trading experience in forex and
            crypto market. We are registered and regulated in Australia. We help
            investors make the most profitable and efficient trading decisions.
            Experience it for yourself.
            <br />
            <br />
            Licensed and regulated across multiple jurisdictions, we serve
            clients in over 150 countries worldwide. Across all these regions we
            offer full segregation of funds for retail clients.<br />
            <br />

            We continually identify, assess, and monitor each type of risk
            associated with its operations. This means assessing on a continuous
            basis the effectiveness of the policies, arrangements, and
            procedures in place which allow the company to easily be able to
            cover its financial needs and capital requirement at any time.
            <br />
            <br />We have become a global leader in online trading, specializing
            in forex, derivatives on US and UK stocks, commodities, spot metals,
            and indices.Client fund security has been a part of our philosophy
            alongside unmatched trading conditions and customer support. With
            global recognition for excellence, a solid reputation, and
            multi-award winning services, our clients are assured that their
            funds are held securely.
          </p>
      </div><!-- end col -->
    </div><!-- end title -->
  </div>
</div>

{{>testimonial}}

{{>footer}}
{{>copyright}}
{{>top}}
