{{_loader}}

<header class="header header_style_01">
  <nav class="megamenu navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button
          type="button"
          class="navbar-toggle collapsed"
          data-toggle="collapse"
          data-target="#navbar"
          aria-expanded="false"
          aria-controls="navbar"
        >
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><img
            src="/images/public_images/logos/logo.png"
            alt="image"
          /></a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/">Home</a></li>
          <li><a href="/about-us">About us </a></li>
          <li><a href="/accounts/create-account">Register</a></li>
          <li><a href="/gallery">Gallery</a></li>
          <li><a href="/properties">Properties</a></li>
          <li><a href="/accounts/login">Login</a></li>
          <li class="social-links"><a href="#"><i
                class="fa fa-twitter global-radius"
              ></i></a></li>
          <li class="social-links"><a href="#"><i
                class="fa fa-facebook global-radius"
              ></i></a></li>
          <li class="social-links"><a href="#"><i
                class="fa fa-linkedin global-radius"
              ></i></a></li>
          <li class="search-option">
            <button
              class="search tran3s dropdown-toggle"
              id="searchDropdown"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            ><i class="fa fa-search" aria-hidden="true"></i></button>
            <form
              action="#"
              class="p-color-bg dropdown-menu tran3s"
              aria-labelledby="searchDropdown"
            >
              <input type="text" placeholder="Search...." />
              <button class="p-color-bg"><i
                  class="fa fa-search"
                  aria-hidden="true"
                ></i></button>
            </form>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<div class="all-title-box">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Terms and Conditions</h2>
        <!-- Breadcrumbs -->
        <nav id="breadcrumbs">
          <ul>
            <li><a href="#">Home</a></li>
            <li>Terms</li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>

<div class="about-box">
  <div class="container">
    <div class="section-title row text-center">
      <div class="col-md-8 col-md-offset-2">
        <h3>OUR TERMS AND CONDITIONS</h3>
        <p style="text-align: left;">
            The main Terms and Conditions regulating the process of cooperation
            between the Empire Investment and Investors are specified in
            this section.
            <br /><br />
            Each party is responsible for the strict implementation of all the
            prescribed terms throughout the period of cooperation. The Terms
            come into force from the moment of their publication in this
            section, they can be changed, adjusted, or supplemented by the
            representatives of the Empire Investment at any moment without
            any additional notification to users of the site.
            <br /><br />
            Registering at the Empire Investment website and receiving the
            status of an "Investor" is available to any user of age who gives
            their consent to the implementation of all the prescribed conditions
            and terms of this section. Assigning the "Investor's" status to the
            user and providing open access to all the functions and tools of the
            Empire Investment Company website occurs immediately after the
            successful registration. The Empire Investment performs legal
            activity and possesses all the required registration documents.
            Legal information about the Empire Investment activity is
            available for general public on the official website. Rights,
            Guarantees, and Responsibilities of the Company.
            <br /><br />
            The Empire Investment Company undertakes to distribute
            monetary assets acquired from the "Investor's" exclusively for the
            implementation of its activities in the field of mining. Full and
            timely accrual of profits to "Investor's" according to the chosen
            tariff package is guaranteed by the Empire Investment. The
            Empire Investment is not liable for possible technical
            malfunctions in the operation of electronic payment systems used by
            the "Investor" to deposit funds or replenish their balance on the
            Empire Investment's website. Each performed transaction cannot
            be cancelled or invalidated.
            <br /><br />
            The Company is not liable for transactions carried out incorrectly
            through the fault of the "Investor" and does not reimburse the lost
            money. The Empire Investment is directly liable for preserving
            personal data of the "Investor's", providing its confidentiality and
            non-disclosure to third parties. Unauthorized use of textual and
            graphic content, authorin g tools, ideas and developments posted on
            the Empire Investment website on third-party resources is a
            violation of the Copyright Law. Responsibilities and Rights of the
            Investor.
            <br /><br />
            While undergoing the registration procedure on the Golden Rock
            Capital LTD website, the "Investor's" obliged to provide exclusively
            truthful and reliable information about oneself. Illegal actions on
            the part of the "Investor's" that have a harmful effect on the
            Empire Investment website lead to the blocking of the
            "Investor's" account and all their funds. After registering, the
            "Investor" agrees to the procession of their personal data by the
            representatives of the Empire Investment within the current
            legislative field.
          </p>
      </div><!-- end col -->
    </div><!-- end title -->
  </div>
</div>


{{>footer}}
{{>copyright}}
{{>top}}